<nav id="side-panel" class="medium-3 columns expanded push-footer">
  <% if get_namespace == "dashboard" %>
  <ul class="side-panel-menu">
    <li class=<%= 'active' if controller.controller_name == "dashboard" %>>
      <a href="<%= dashboard_path %>">Dashboard</a>
    </li>
    <li class=<%= 'active' if get_namespace == "dashboard" && controller.controller_name == "properties" %>>
      <a href="<%= dashboard_properties_path %>">Listings</a>
    </li>
    <li class=<%= 'active' if get_namespace == "dashboard" && controller.controller_name == "contact_forms" %>>
      <a href="<%= dashboard_contact_forms_path %>">Contacts</a>
    </li>
    <li class=<%= 'active' if get_namespace == "dashboarD" && controller.controller_name == "agent_forms" %>>
      <a href="<%= dashboard_agent_forms_path %>">Agent Forms</a>
    </li>

    <li class=<%= 'active' if get_namespace == "dashboard" && controller.controller_name == "subscribers"%>>
      <a href="<%= dashboard_subscribers_path%>">Subscribers</a>
    </li>
   <!--  <li><a href="#">Users</a></li> -->
  </ul>
  <% elsif get_namespace == "registrations" %>
  <p>Welcome <%#= current_admin.first_name%></p>
  <ul class="side-panel-menu">
    <li class=<%= 'active' if get_namespace == "registrations" && controller.controller_name == "profile" %>>
      <a href="#">Profile</a>
    </li>
    <li class=<%= 'active' if get_namespace == "registrations" && controller.controller_name == "listings" %>>
      <a href="#">Your Listings</a>
    </li>
  </ul>
  <% end %>
</nav>
