<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
  </head>
  <body>
    <% if admin_signed_in? %>
      <h1>Dashboard for <%= "#{@admin.first_name} #{@admin.last_name}" %></h1>
      <h2>Email: <%= @admin.email %></h2>
      <p><%= link_to 'Log Out', destroy_admin_session_path, method: :delete %><br/></p>
      <p><%= button_to 'Delete Account', registration_path(:admin), method: :delete %>
    <% else %>
      <h5>
        <%= link_to 'Register', new_admin_registration_path %>
        <%= link_to 'Log In', new_admin_session_path %>
      </h5>
    <% end %>
  </body>
</html>
