<%= form_for [:dashboard, @property], html: {class: "dashboard-form clearfix", id: "property-form", multipart: true} do |f| %>
  <div class="float-left">
    <a href="<%= dashboard_properties_path %>?page=<%= request.parameters[:from].nil? ? '1' : request.parameters[:from] %>&filter=<%= request.parameters[:filter].nil? ? 'all' : request.parameters[:filter] %>" class="btn btn-secondary">Back</a>
  </div>
  <div class="float-right">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>

  <ul class="accordion clear-both" data-accordion data-multi-expand="true" data-allow-all-closed="true">
    <li class="accordion-item is-active" data-accordion-item>
      <a href="#" class="accordion-title">Address</a>
      <div class="accordion-content" data-tab-content>
        <%= f.fields_for :address do |fa| %>
          <% @address_attributes.each do |a| %>
            <%= fa.label a %>
            <%= fa.text_field a.to_sym %>

          <% end %>
        <% end %>
      </div>
    </li>

    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title">Basics</a>
      <div class="accordion-content" data-tab-content>
        <% @property_attributes.each do |u| %>
          <%= f.label u %>
          <%= f.text_field u.to_sym %>
        <% end %>
        <% if new_dashboard_property_path %>
        <div>
          <div>
            <%=f.fields_for :photos do |photo|%>
              <%= photo.label :picture, 'Upload picture' %><br>
              <%= photo.file_field :picture, :multiple => true, name: "photos[picture][]" %>
            <% end %>
          </div>
        </div>
         <% end %>

      </div>
    </li>
  </ul>

  
  <div class="float-left">
    <a href="<%= dashboard_properties_path %>?page=<%= request.parameters[:from].nil? ? '1' : request.parameters[:from] %>&filter=<%= request.parameters[:filter].nil? ? 'all' : request.parameters[:filter] %>" class="btn btn-secondary">Back</a>
  </div>
  <div class="float-right">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
<%end%>
