<div class="row">
</div>
<%= form_for [:dashboard, @property], url: dashboard_property_pictures_path(@property), method: :post do |f| %>


  <% @property.pictures.each_with_index do |u, index| %>
    <img style="display: inline" src=<%= u.thumb %> />
    <%= f.check_box "deletes[]", index %>
    <br>
  <%end%>
  <%= f.file_field :pictures, multiple: true %>

  <%= f.submit %>

<% end %>

<%= form_for [:dashboard, @property], html: {class: "dashboard-form clearfix", id: "property-form", multipart: true} do |f| %>
  <div class="float-left">
    <a href="<%= dashboard_properties_path %>?page=<%= request.parameters[:from].nil? ? '1' : request.parameters[:from] %>&filter=<%= request.parameters[:filter].nil? ? 'all' : request.parameters[:filter] %>" class="btn btn-secondary">Back</a>
  </div>
  <div class="float-right">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>

  <ul class="accordion clear-both" data-accordion data-multi-expand="true" data-allow-all-closed="true">
    <li class="accordion-item is-active" data-accordion-item>
      <a href="#" class="accordion-title">Address</a>
      <div class="accordion-content" data-tab-content>
        <%= f.fields_for :address do |fa| %>
          <% @address_attributes.each do |a| %>
            <%= fa.label a %>
            <%= fa.text_field a.to_sym %>
          <% end %>
        <% end %>
      </div>
    </li>

    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title">Basics</a>
      <div class="accordion-content" data-tab-content>
        <% @property_attributes.each do |u| %>
          <%= f.label u %>
          <%= f.text_field u.to_sym %>
          <%# if u.include? "status_id" %>
            <%#= f.label u %>
            <%#= f.select u, options_for_select(["first option", "second option", "third option"]), {:prompt => true} %>
          <%# end %>
        <% end %>
        <% if new_dashboard_property_path %>
          <div>
          </div>
        <%end%>
         <div>
           <%# if !@property.%>
            <%# @property.photos.each do |p|%>
              <%#= image_tag(p.picture_url, :size => "150x150", class: 'img-upload')%>
            <%# end %>
         </div>
          <%# end %>
      </div>
    </li>
  </ul>

  <div class="float-left">
    <a href="<%= dashboard_properties_path %>?page=<%= request.parameters[:from].nil? ? '1' : request.parameters[:from] %>&filter=<%= request.parameters[:filter].nil? ? 'all' : request.parameters[:filter] %>" class="btn btn-secondary">Back</a>
  </div>
  <div class="float-right">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
<%end%>
