<div class="row expanded">
  <%= render "dashboard/side_panel" %>

  <div class="medium-9 columns dashboard-content">
    <h1><%= @property.address_name %></h1>
    <hr>
    <%= render 'dashboard/properties/form' %>
		<hr>

    <div>
	  	<button class="button round" href="#" role="button" aria-label="add more photos" id="add_photos_edit">Add more photos</button>
	  	<%= form_for :photo, url: dashboard_property_photos_path(@property), html: {id: "add_photos_form", style: "display: none"}, authenticity_token: true, data: {remote: true, type: "script"} do |f|%>
	  		<%= f.file_field :picture, multiple: true%>
	  		<%= f.submit 'Submit', class: "button small secondary"%>
	  	<% end %>
  	</div>
  	<hr>
  	<div id="photo-edit-container">
  		<div class="loader" style="background: transparent"><div class="spinner" style="color: #68c0ea"></div></div>
	  	<div id="edit_photos_section" class="row">
	  		<%= render 'dashboard/properties/edit_photos'%>
	  	</div>
	  </div>	
  </div>
</div>


