<div class="row expanded">
  <%= render "dashboard/side_panel" %>

  <div class="medium-9 columns dashboard-content">
    <h1>Listings</h1>
    <hr>
    <div class="dashboard-list">
      <div class="dashboard-list-header row collapse">
        <div class="small-8 columns">
          <%= link_to "Add a new property", new_dashboard_property_path, class: "btn btn-primary" %>
        </div>

        <div class="small-4 columns">
          <select style="margin:0;">
            <option value="1" selected>Show all listings</option>
            <option value="2">Show listed listings</option>
            <option value="3">Show unlisted listings</option>
            <option value="4">Show archived listings</option>
          </select>
        </div>
      </div>

      <% if @properties_paged.count > 0 %>
      <ul class="dashboard-list-body">
        <% @properties_paged.each do |p| %>
        <li class="dashboard-list-item row collapse">
          <div class="small-2 columns dashboard-listing-img">
            <a href="<%= dashboard_property_path(p) %>">
              <img src="<%= p.photos.count == 0 ? 'http://placehold.it/350x150?text=%20' : p.photos.first.picture %>">
            </a>
          </div>
          <div class="small-10 columns end">
            <div class="dashboard-listing-overview float-left">
              <h3>
                <%= link_to p.address_name, dashboard_property_path(p) %>
              </h3>
              <div>
                <%= link_to "Edit", edit_dashboard_property_path(p) %> | <%= link_to "Delete", dashboard_property_path(p), data: {:confirm => 'Are you sure?'}, :method => :delete %>
              </div>
            </div>

            <div class="float-right" style="max-width: 6rem;">
              <select>
                <%= options_for_select([
                ["Pengding", "pending"],
                ["Listed", "listed"],
                ["Unlisted", "unlisted"],
                ["Archived", "archived"]
                ], p.status) %>
              </select>
            </div>
          </div>
        </li>
        <% end %>
      </ul>
      <% end %>
    </div>

    <%= will_paginate @properties_paged, {class: "pagination text-center", previous_label: "◀", next_label: "▶"} %>


  </div>
</div>


