<div class="row expanded">
  <%= render "dashboard/side_panel" %>

  <div class="medium-9 columns dashboard-content">
    <h1>Listings</h1>
    <hr>
    <div class="dashboard-list">
      <div class="dashboard-list-header row collapse">
        <div class="small-8 columns">
          <%= link_to "Add a new property", new_dashboard_property_path, class: "btn btn-primary" %>
        </div>

        <form class="small-4 columns" method="get">
          <select style="margin:0;" name="filter" onChange="submit();">
            <option value="all" <%= "selected" if ["all", ""].include?(request.parameters[:filter]) %>>Show all listings</option>
            <option value="listed" <%= "selected" if request.parameters[:filter] == "listed" %>>Show listed listings</option>
            <option value="unlisted" <%= "selected" if request.parameters[:filter] == "unlisted" %>>Show unlisted listings</option>
            <option value="archived" <%= "selected" if request.parameters[:filter] == "archived" %>>Show archived listings</option>
          </select>
        </form>
      </div>

      <% if @properties_paged.count > 0 %>
      <ul class="dashboard-list-body">
        <% @properties_paged.each do |p| %>
        <li class="dashboard-list-item row collapse">
          <div class="small-2 columns dashboard-listing-img">
            <a href="<%= dashboard_property_path(p) %>">
              <img src="<%= p.photos.count == 0 ? 'http://placehold.it/350x150?text=%20' : p.photos.first.picture %>">
            </a>
          </div>
          <div class="small-10 columns end">
            <div class="dashboard-listing-overview float-left">
              <h3>
                <%= link_to p.address_name, dashboard_property_path(p)+"?from="+(request.parameters[:page].nil? ? '1' : request.parameters[:page])+"&filter="+(request.parameters[:filter].nil? ? 'all' : request.parameters[:filter]) %>
              </h3>
              <div>
                <%= link_to "View", property_path(p), target: "_blank" %> | <%= link_to "Edit", edit_dashboard_property_path(p) %> | <%= link_to "Delete", dashboard_property_path(p), data: {:confirm => 'Are you sure?'}, :method => :delete %>
              </div>
            </div>

            <div class="float-right" style="width: 5rem;">
              <select class="dashboard-listing-status" data-url="<%= dashboard_property_status_path(p) %>">
                <% @statuses.each do |status, name| %>
                  <option value=<%= status %> <%= "selected" if p.status == status %>><%= name %></option>
                <% end %>
              </select>
            </div>
          </div>
        </li>
        <% end %>
      </ul>
      <% else %>
        <div class="text-center">No record</div>
      <% end %>
    </div>

    <%= will_paginate @properties_paged, {class: "pagination text-center", previous_label: "◀", next_label: "▶"} %>


  </div>
</div>


