      <% p5 = @properties_p.fifth%>
        <div class="small-12 medium-12 large-6 columns">
          <div class="listing-item">
          <%= link_to "", property_path(p5.id), class: "listing-link" %>
            <div class="listing-img" data-bg=<%= asset_path '6properties/5.jpg' %>>

              <div class="listing-badge">
              <%if p5.list_price_cents != 0%>
                <span>For Sale</span>
              <% else %>
                <span class="sold">Sold</span>
              <% end %>
              </div>
              
              <% if p5.list_price_cents > 0 %>
              <div class="listing-price">
                <sup>$</sup>
                <span style=""><%= p5.price %></span>
              </div>
               <% end %>
            </div>
            <div class="listing-meta clearfix">
              <div>
                <p><%= p5.address.address_first %></p>
                <span style="font-size: 0.90rem; display: block; font-weight: 200;" class="dark-grey"><%= p5.address.city %>, BC</span>
              </div>
              <div class=" row attributes">
                <p class=" small-2 medium-2 columns"><small><strong><%= p5.bedrooms %></strong> Beds</small></p>

                <p class="small-3 medium-2 columns"><small><strong><%= p5.bathrooms %></strong> Bath</small></p>

                <p class="small-4 medium-3 columns"><small><strong><%= p5.floor_area%></strong> Sq.Ft.</small></p>

                <p class="small-1 medium-2 end columns"><small>Yr.<strong><%= p5.year_built%></strong></small></p>
              </div>
            </div>
          </div>
        </div>