<div class="row expanded" style="margin-top: 60px">
  <%= render "dashboard/side_panel"%>

  <div class="medium-9 columns dashboard-content push-footer">
    <h1>Contact Forms</h1>
    <hr>

    <% if @forms_pagination.count > 0 %>
    <ul class="cf-ul">
      <% @forms_pagination.each do |cf| %>
        <li class="cf-li">
          <h6><%= link_to cf.name, dashboard_contact_form_path(cf), class: "cf-name" %> | 

            <span class="cf-contact">
            <% if cf.property.nil? %>
            No property associated with <%= cf.name%>
            <% else %>
              <% if cf.property.address %>
                <%= link_to cf.property.address_name, dashboard_property_path(cf.property) %>
              <%else%>
                No associated address. (<%= cf.property.created_at %>)
              <%end%>
            <%end%> 
          </span>
          </h6>
        <div class="row expand">
          <div  class="medium-6 columns">
            <span class="cf-contact top-text"><strong>Email</strong></span>
            <p class="cf-contact bottom-text"><%= cf.email %></p>

            <span class="cf-contact top-text"><strong>Phone</strong></span>
            <p class="cf-contact bottom-text"><%= cf.phone %></p>

            <span class="cf-contact top-text"><strong>Created at:</strong></span>
            <p class="cf-contact bottom-text"><%= cf.created_at.strftime('%m/%d/%Y') %> <%= cf.created_at.in_time_zone('Pacific Time (US & Canada)').strftime("at %I:%M%p")%></p>
          </div>

          <div class="medium-5 columns text-box">
            <span class="cf-contact notes"><strong>Notes</strong></span>
            <p class="cf-contact"><%= cf.notes %></p>
          </div>
          <div class="medium-5 columns text-box">
          <span class="cf-contact notes"><strong>Timeframe</strong></span>
            <% if cf.eval_timeframe.nil?%>
            <p class="cf-contact">No timeframe available</p>
            <% else%>
            <p class="cf-contact"><%= cf.eval_timeframe %></p>
            <% end %>
          </div>
          <div class="medium-5 columns text-box">
            <span class="cf-contact notes"><strong>Status</strong></span>
            <p class="cf-contact"><%= cf.status %></p>
          </div>

          <!-- <div class="medium-5 columns text-box">
            <span class="cf-contact notes"><strong>Status</strong></span>
            <%#= form_for @form, url: dashboard_contact_form_path(@form), html: {method: :put} do |f|%>
            <%#= select_tag(:status, options_for_select([
              ['Unanswered', 'unanswered'],
              ['Answered', 'answered'],
              ['Important', 'important']],
              selected: @form.status))
              %>
            <%#= submit_tag 'save'%>
            <%# end %>
          </div> -->

          <div class="medium-6 columns text-box">

            <span class="cf-contact notes"><strong>Submission Type</strong></span>

            <p class="cf-contact"><%= cf.sub_type %></p>

          </div>

          <!-- Offer Price -->

          <div id="mod-<%= cf.property_id%>">

            <button class="button offer-btn" data-open='offer-price' data-address="<%= cf.property.address_name %>">Generate Offer</button>

            <div class='reveal' id='offer-price' data-reveal>

              <div id="gmap"></div>

              <hr>

              <div class="columns medium-4">

                <a href="#" class="button small map-link" target='_blank'>Open in maps</a>

              </div>

              <div class="columns medium-4">

                <a href="#" class="button small">Learn more</a>

              </div>

              <div class="columns medium-4">

                <a href="#" class="button small">Save offer price</a>

              </div>

            </div>

          </div>
          

          <div class="medium-expand columns">
            <%= link_to "Delete", dashboard_contact_form_path(cf), method: :delete, class: "delete-button" %>
          </div>
        </div>

        </li>
        <% end %>
    </ul>
    <% end %>
    <%= will_paginate @forms_pagination, {previous_label: "◀", next_label: "▶"}%>
  </div>
</div>
<script>
$(document).ready(function(){

  var map, address, geocoder;
  var markers = [];

  $('.offer-btn').click(function(){

    if (!map){

      address = $(this).data('address')
    
      map = new google.maps.Map(document.getElementById('gmap'), {
        zoom: 12,
        center: {lat: -34.397, lng: 150.644}
      });

      geocoder = new google.maps.Geocoder();

      geocodeAddress(geocoder, map, address);

    } else {

      address = $(this).data('address');

      geocoder = null

      geocoder = new google.maps.Geocoder();

      map.setCenter({lat: -34.397, lng: 150.644});

      geocodeAddress(geocoder, map, address);
    }

  })

  function geocodeAddress(geocoder, resultsMap, address) {

    geocoder.geocode({'address': address}, function(results, status) {

      if (status === 'OK') {

        resultsMap.setCenter(results[0].geometry.location);

        for (var i = markers.length - 1; i >= 0; i--) {
          
          markers[i].setMap(null)
        }

        var marker = new google.maps.Marker({

          map: resultsMap,
          position: results[0].geometry.location

        });

        markers.push(marker);

        // directions for view on google.maps.com
        var lat = results[0].geometry.location.lat()

        var lng = results[0].geometry.location.lng()

        var reg = /[\.\,]/g 
        
        var address_search_param = address.replace(reg, '').split(' ').join('+');

        // $('.map-link').attr('href', 'https://www.google.com/maps/search/?api=1&map_action=map' + '&center=' + lat + ',' + lng );
        $('.map-link').attr('href', "https://maps.google.com/?q=" + address_search_param)

      } else {

        alert('Geocode was not successful for the following reason: ' + status);

      }

    });

  }

});

</script>
<script src=<%="https://maps.googleapis.com/maps/api/js?key=#{ENV['MAP_SECRET']}"%> async defer></script>
