<div class="row expanded">
  <%= render "dashboard/side_panel"%>

  <div class="medium-9 columns dashboard-content">
    <h1>Contact Forms</h1>
    <hr>

    <% if @forms_pagination.count > 0 %>
    <ul class="cf-ul">
      <% @forms_pagination.each do |cf| %>
        <li class="cf-li">
          <h6><%= link_to cf.name, dashboard_contact_form_path(cf), class: "cf-name" %> | 

            <span class="cf-contact">
            <% if cf.property.nil? %>
            No property associated with <%= cf.name%>
            <% else %>
              <%= link_to cf.property.address_name, dashboard_properties_path(cf.property) %>
            <%end%> 
          </span>
          </h6>
        <div class="row expand">
          <div  class="medium-6 columns">
            <span class="cf-contact top-text"><strong>Email</strong></span>
            <p class="cf-contact bottom-text"><%= cf.email %></p>

            <span class="cf-contact top-text"><strong>Phone</strong></span>
            <p class="cf-contact bottom-text"><%= cf.phone %></p>

            <span class="cf-contact top-text"><strong>Created at:</strong></span>
            <p class="cf-contact bottom-text"><%= cf.created_at %></p>
          </div>

          <div class="medium-5 columns text-box">
            <span class="cf-contact notes"><strong>Notes</strong></span>
            <p class="cf-contact"><%= cf.notes %></p>
          </div>
          <div class="medium-5 columns text-box">
          <span class="cf-contact notes"><strong>Timeframe</strong></span>
            <% if cf.eval_timeframe.nil?%>
            <p class="cf-contact">No timeframe available</p>
            <% else%>
            <p class="cf-contact"><%= cf.eval_timeframe %></p>
            <% end %>
          </div>
          <div class="medium-5 columns text-box">
            <span class="cf-contact notes"><strong>Status</strong></span>
            <p class="cf-contact"><%= cf.status %></p>
          </div>

          <!-- <div class="medium-5 columns text-box">
            <span class="cf-contact notes"><strong>Status</strong></span>
            <%#= form_for @form, url: dashboard_contact_form_path(@form), html: {method: :put} do |f|%>
            <%#= select_tag(:status, options_for_select([
              ['Unanswered', 'unanswered'],
              ['Answered', 'answered'],
              ['Important', 'important']],
              selected: @form.status))
              %>
            <%#= submit_tag 'save'%>
            <%# end %>
          </div> -->




          <div class="medium-5 columns text-box">
            <span class="cf-contact notes"><strong>Submission Type</strong></span>
            <p class="cf-contact"><%= cf.sub_type %></p>
          </div>

          <div class="medium-expand columns">
            <%= link_to "Delete", cf, method: :delete, class: "delete-button" %>
          </div>
        </div>

        </li>
        <% end %>
    </ul>
    <% end %>
    <%= will_paginate @forms_pagination, {previous_label: "◀", next_label: "▶"}%>
  </div>
</div>
