<%- title "Sell Your Home"%>
<div class="columns small-12">
<%= image_tag('sales_page/page5.svg',id: 'page_svg_5')%>
<div>Step 5 of 7</div> 
<h3>Bathroom</h3>
<br />
</div>

<div class="container">

	<%= fp.fields_for :property_upgrades, @property_upgrades do |pu|%>
	<div class="columns small-12 medium-11">
	<label> What is the condition of your master bathroom?</label>

	<% @bathc.each do |feat|%>

		<% if ((!(session[:bath].blank?) && session[:bath]["bathc"].include?((feat.id).to_s)) ) %>
			<%= radio_button_tag "bath[bathc]", feat.id, true,  data: {
        'validation' => "required",
        'validation-error-msg' => "One option selected required."
      }  %>
		<% else %>
			<%= radio_button_tag "bath[bathc]", feat.id, false,  data: {
        'validation' => "required",
        'validation-error-msg' => "One option selected required."
      }  %>
		<% end %>				
		<%= label_tag feat.name, feat.name, style: "display: inline;"  %></br>

	<% end %>
	<br>
	</div>
		<div class="columns small-12 medium-11 end">
	<label>Which features does your master bathroom have?</label>
	<% @bathe.each do |ba|%>

		<% if ((!(session[:bath].blank?) && session[:bath]["bathe"].include?((ba.id).to_s)) ) %>
						<%= check_box_tag 'bath[bathe][]', ba.id, true, class: 'cb-sell', id: "bath[bathe][]_#{ba.id}" %>
		<% else %>
						<%= check_box_tag 'bath[bathe][]', ba.id, false, class: 'cb-sell', id: "bath[bathe][]_#{ba.id}" %>
		<% end %>
		<%= label_tag ba.name, ba.name, style: "display: inline;"  %></br>

	<% end %>
	
	<% end %>
	</div>
</div>
