<%- title "Sell your home"%>
<div>Step 3 of 3</div>
<h3>How can we contact you?</h3>

<%= fp.fields_for :contact_form, @contact do |cf| %>
  <div>
    <%= cf.label :name, 'Name *'%>
    <%= cf.text_field :name, data: {
     validation: "required" 
    }, placeholder: "What can we call you?" %>
  </div>

  <div>
    <%= cf.label :email, 'E-mail *'%>
    <%= cf.email_field :email, data: {
     validation: "required" 
    }, placeholder: "example@email.com" %>
  </div>

  <div>
    <%= cf.label :phone %>
    <%= cf.text_field :phone, placeholder: "" %>
  </div>

  <div>
    <%= cf.label :notes, "Message" %>
    <%= cf.text_field :notes, placeholder: "" %>
  </div>
  <div>
    <%= cf.label :timeframe, "How soon do you want to sell your home?" %>
    <%= cf.select :timeframe, options_for_select([
      ["ASAP", 0],
      ["2-4 weeks", 1],
      ["4-6 weeks", 2],
      ["6+ weeks", 3],
      ["No preference", 4]]) %>
  </div>
<%end%>
