<%- title "Sell Your Home"%>
<div class="small-12">
<%= image_tag('sales_page/page7.svg')%>
<div>Step 7 of 7</div>
<h3>Where should we send your offer?</h3>
<br>
</div>
<%= fp.fields_for :contact_form, @contact do |cf| %>
  <div>
    <%= cf.label :name, 'Name *'%>
    <%= cf.text_field :name, required: 'required', placeholder: "What can we call you?", class: 'cform_field' %>
  </div>

  <div>
    <%= cf.label :email, 'E-mail *'%>
    <%= cf.email_field :email, required: 'required', placeholder: "example@email.com", class: 'cform_field' %>
  </div>

  <div>
    <%= cf.label :phone, "Phone (Optional)" %>
    <%= cf.text_field :phone, placeholder: "", class: 'cform_field' %>
  </div>

  <div>
    <%= cf.label :timeframe, "How soon do you want to sell your home?" %>
    <%= cf.select :timeframe, options_for_select([
      ["ASAP", 0],
      ["2-4 weeks", 1],
      ["4-6 weeks", 2],
      ["6+ weeks", 3],
      ["No preference", 4]]) %>
	</div>

  <div>
		<%= cf.label :notes, "What else should we know about your home or neighborhood? (Optional)" %>
    <%= cf.text_area :notes, placeholder: "", cols: 20, class: 'cform_field' %>
  </div>
<%end%>
