<%- title "Sell Your Home"%>
<div>Step 2 of 3</div>
<h3>Tell us about your home</h3>

<div>
  <%= fp.label :floor_area %>
  <%= fp.text_field :floor_area, data: { 'validation' => "required" }, placeholder: "#,### sqft" %>
</div>

<div>
  <%= fp.label :stories %>
  <%= fp.select :stories, options_for_select([1,2,3,4,5,6]), {data: { 'validation' => "required" }}, {prompt: true}%>
</div>

<div>
  <%= fp.label :bedrooms %>
  <%= fp.select :bedrooms,  options_for_select([1,2,3,4,5,6,7]), {data: { 'validation' => "required" }}, {prompt: true} %>
</div>

<div>
  <%= fp.label :bathrooms %>
  <%= fp.select :bathrooms, options_for_select([1,2,3,4,5,6,7]), {data: { 'validation' => "required" }}, {prompt: true} %>
</div>
