<h1>Step 3. Tell us about your home</h1>

<div>
  <%= fp.label :floor_area %>
  <%= fp.text_field :floor_area %>
</div>

<div>
  <%= fp.label :storeys %>
  <%= fp.text_field :stories %>
</div>

<div>
  <%= fp.label :bedrooms %>
  <%= fp.text_field :bedrooms %>
</div>

<div>
  <%= fp.label :bathrooms %>
  <%= fp.text_field :bathrooms %>
</div>