<%- title "Sell Your Home"%>
<div class="columns small-12 medium-12">
<%= image_tag('sales_page/page2.svg')%>
<div>Step 2 of 7</div>
<h3>Tell us about your home</h3>
<br />
</div>

<div class="columns small-12 medium-9">
  <%= fp.label :floor_area %>
  <%= fp.text_field :floor_area, data: { 'validation' => "required" }, placeholder: "#,### sqft" %>
</div>

<div class="columns small-12 medium-9">
  <%= fp.label :stories %>
	<%= fp.select :stories, options_for_select([1,2,'3+'], selected: (@property.stories.to_s unless @property.stories.blank?)), {data: { 'validation' => "required" }}, {prompt: true}%>
</div>

<div class="columns small-12 medium-9">
  <%= fp.label :bedrooms %>
  <%= fp.select :bedrooms,  options_for_select([1,2,3,4,5,6,'7+'], selected: (@property.bedrooms.to_s unless @property.stories.blank?)), {data: { 'validation' => "required" }}, {prompt: true} %>
</div>

<div  class="columns small-12 medium-9">
  <%= fp.label :bathrooms %>
  <%= fp.select :bathrooms, options_for_select([1,2,3,4,5,6,'7+'], selected: (@property.bathrooms.to_s unless @property.stories.blank?)), {data: { 'validation' => "required" }}, {prompt: true} %>
</div>

<%= fp.fields_for :property_upgrades, @property_upgrades do |pu|%>
	<div class="columns small-12 medium-9">
	<br>
	<label> Do you have a pool?</label>
	<% @pool.each do |feat|%>

		<% if (!(session[:features].blank?) && (session[:features].include?((feat.id).to_s))) %>

			<%= radio_button_tag 'property[property_upgrades_attributes][upgrade_id][]', feat.id, true, required:' required' %>

		<% else %>

			<%= radio_button_tag 'property[property_upgrades_attributes][upgrade_id][]', feat.id, false, required: 'required' %>

		<% end %>

		<%= label_tag feat.name, feat.name, style: "display: inline;" %></br>

	<% end %>
	<br>
	</div>
	<div class="columns small-12 medium-9">	
		<label>Does your home have any of the following?</label>

		<% @other.each do |ot| %>
	
			<% if ((!(session[:features].blank?) && session[:features].include?((ot.id).to_s)) ) %>
							<%= check_box_tag 'property[property_upgrades_attributes][upgrade_id][]', ot.id, true, id: "property_upgrades_other_#{ot.id}", class: 'cb-sell'%>
			<% else %>
							<%= check_box_tag 'property[property_upgrades_attributes][upgrade_id][]', ot.id, false, id: "property_upgrades_other_#{ot.id}", class: 'cb-sell' %>
			<% end %>		
			<%= label_tag ot.name, ot.name, style: "display: inline;"   %><br/ >

		<% end %>
	</div>

<% end %>
