<%- title "Sell Your Home"%>
<div class="columns small-12">
<%= image_tag('sales_page/page6.svg', id: 'page_svg_6')%>
<div>Step 6 of 7</div> 
<h3>Home &amp; Yard</h3>
<br>
</div>
<div class="container">

	<%= fp.fields_for :property_upgrades, @property_upgrades do |pu|%>
	<div class="columns small-12 medium-11">
	<label> What is the condition of your flooring?</label>

	<% @hyflo.each do |feat|%>

		<% if ((!(session[:hy].blank?) && session[:hy]["hyflo"].include?((feat.id).to_s)) ) %>
			<%= radio_button_tag "hy[hyflo]", feat.id, true,  data: {
        'validation' => "required",
        'validation-error-msg' => "One option selected required."
      }   %>
		<% else %>
			<%= radio_button_tag "hy[hyflo]", feat.id, false,  data: {
        'validation' => "required",
        'validation-error-msg' => "One option selected required."
      }  %>
		<% end %>
		<%= label_tag feat.name, feat.name, style: "display: inline;"  %></br>

	<% end %>
	<br>
	</div>
	<div class="columns small-12 medium-11">
	<label>What kind of flooring is in your main living area?</label>
	<% @hyliv.each do |feat|%>

		<% if ((!(session[:hy].blank?) && session[:hy]["hyliv"].include?((feat.id).to_s)) ) %>
			<%= radio_button_tag 'hy[hyliv]', feat.id, true,  data: {
        'validation' => "required",
        'validation-error-msg' => "One option selected required."
      }   %>
		<% else %>
			<%= radio_button_tag 'hy[hyliv]', feat.id, false,  data: {
        'validation' => "required",
        'validation-error-msg' => "One option selected required."
      }  %>
		<% end %>
		<%= label_tag feat.name,feat.name, style: "display: inline;"  %></br>

	<% end %>
	<br>
	</div>
	<div class="columns small-12 medium-11">
	<label> How about the condition of your interior paint?</label>
	<% @hyp.each do |feat|%>
	
		<% if ((!(session[:hy].blank?) && session[:hy]["hyp"].include?((feat.id).to_s)) ) %>
			<%= radio_button_tag 'hy[hyp]', feat.id, true,  data: {
        'validation' => "required",
        'validation-error-msg' => "One option selected required."
      }   %>
		<% else %>
			<%= radio_button_tag 'hy[hyp]', feat.id, false,  data: {
        'validation' => "required",
        'validation-error-msg' => "One option selected required."
      }  %>
		<% end %>
		<%= label_tag feat.name, feat.name, style: "display: inline;"  %></br>

	<% end %>
	<br>
	</div>
	<div class="columns small-12 medium-11 end">
	<label> What is the condition of your backyard?</label>
	<% @hyback.each do |feat|%>

		<% if ((!(session[:hy].blank?) && session[:hy]["hyback"].include?((feat.id).to_s)) ) %>
			<%= radio_button_tag 'hy[hyback]', feat.id, true,  data: {
        'validation' => "required",
        'validation-error-msg' => "One option selected required."
      }  %>
		<% else %>
			<%= radio_button_tag 'hy[hyback]', feat.id, false,  data: {
        'validation' => "required",
        'validation-error-msg' => "One option selected required."
      }  %>
		<% end %>
		<%= label_tag feat.name, feat.name, style: "display: inline;"  %></br>

	<% end %>

	<% end %>
	<br>
	</div>
</div>
