<%- title "Sell Your Home"%>
<%= image_tag('sales_page/img-1')%>
<div>Step 6 of 7</div> 
<h3>Home &amp; Yard</h3>
<br>
<div class="container">

	<%= fp.fields_for :property_upgrades, @property_upgrades do |pu|%>

	<label> What is the condition of your kitchen</label>

	<% @hyflo.each do |feat|%>

		<% if ((!(session[:hy].blank?) && session[:hy]["hyflo"].include?((feat.id).to_s)) ) %>
			<%= radio_button_tag "hy[hyflo]", feat.id, true  %>
		<% else %>
			<%= radio_button_tag "hy[hyflo]", feat.id, false %>
		<% end %>
		<%= label_tag feat.name %></br>

	<% end %>

	<label>Which countertops does your kitchen have</label>
	<% @hyliv.each do |feat|%>

		<% if ((!(session[:hy].blank?) && session[:hy]["hyliv"].include?((feat.id).to_s)) ) %>
			<%= radio_button_tag 'hy[hyliv]', feat.id, true  %>
		<% else %>
			<%= radio_button_tag 'hy[hyliv]', feat.id, false %>
		<% end %>
		<%= label_tag feat.name %></br>

	<% end %>
	
	<label> What kind of kitchen appliances do you have?</label>
	<% @hyp.each do |feat|%>
	
		<% if ((!(session[:hy].blank?) && session[:hy]["hyp"].include?((feat.id).to_s)) ) %>
			<%= radio_button_tag 'hy[hyp]', feat.id, true  %>
		<% else %>
			<%= radio_button_tag 'hy[hyp]', feat.id, false %>
		<% end %>
		<%= label_tag feat.name %></br>

	<% end %>

	<label> Does your kitchen have any of the following features?</label>
	<% @hyback.each do |feat|%>

		<% if ((!(session[:hy].blank?) && session[:hy]["hyback"].include?((feat.id).to_s)) ) %>
			<%= radio_button_tag 'hy[hyback]', feat.id, true %>
		<% else %>
			<%= radio_button_tag 'hy[hyback]', feat.id, false %>
		<% end %>
		<%= label_tag feat.name %></br>

	<% end %>

	<% end %>
</div>
