<%- title "Sell Your Home"%>
<%= image_tag('sales_page/img-1')%>
<div>Step 4 of 7</div> 
<h3>Kitchen</h3>
<br />
<div class="container">

	<%= fp.fields_for :property_upgrades, @property_upgrades do |pu|%>

	<label> What is the condition of your kitchen?</label>

	<% @kc.each do |feat|%>

		<% if ((!(session[:kitch].blank?) && session[:kitch]["kc"].include?((feat.id).to_s)) ) %>
			<%= radio_button_tag "kitchen[kc]", feat.id, true %>
		<% else %>
			<%= radio_button_tag "kitchen[kc]", feat.id, false%>
		<% end %>

		<%= label_tag feat.name %></br>

	<% end %>

	<label>Which countertops does your kitchen have?</label>
	<% @kco.each do |feat|%>
	
		<% if (!(session[:kitch].blank?) && (session[:kitch]["kco"].include?((feat.id).to_s))) %>
			<%= radio_button_tag 'kitchen[kco]', feat.id, true %>
		<% else %>
			<%= radio_button_tag 'kitchen[kco]', feat.id, false %>
		<% end %>

		<%= label_tag feat.name %></br>

	<% end %>
	
	<label> What kind of kitchen appliances do you have?</label>
	<% @ka.each do |feat|%>
		
		<% if (!(session[:kitch].blank?) && (session[:kitch]["ka"].include?((feat.id).to_s))) %>
			<%= radio_button_tag 'kitchen[ka]', feat.id, true %>
		<% else %>
			<%= radio_button_tag 'kitchen[ka]', feat.id, false %>
		<% end %>
		<%= label_tag feat.name %></br>

	<% end %>

	<label> Does your kitchen have any of the following features?</label>
	<% @ke.each do |feat|%>

		<% if (!(session[:kitch].blank?) && (session[:kitch]["ke"].include?((feat.id).to_s))) %>
			<%= radio_button_tag 'kitchen[ke]', feat.id, true %>
		<% else %>
			<%= radio_button_tag 'kitchen[ke]', feat.id, false %>		
		<% end %>
		<%= label_tag feat.name %></br>

	<% end %>

	<% end %>
</div>
