<% @properties_paged.each do |p| %>
  <li id="listing-<%= p.id %>" data-pid=<%= p.id %>>
    <%= link_to "", property_path(p.id), remote: true %>
    <div class="listing-img" data-bg=<%= p.photos.first.picture if p.has_photos? %>>

      <% if p.list_price_cents > 0%>
      <div class="listing-price">
        <sup>$</sup>
        <span style=""><%= p.price %></span>
      </div>
      <% end %>
    </div>

    <% if p.is_new? && p.list_price_cents != 0%>
   <div class="listing-badge">
     <span>Just Listed</span>
   </div>
     <% elsif p.list_price_cents == 0 %>
   <span class="listing-badge sold" style="
      z-index: 10000;
      top: 17em;
      font-size: 1rem;
      padding: 6px 3rem;
      color: white;
      background-color: #a4e125;
      position: absolute;
      top: 0;
      right: 0;
      padding: 0.5rem 1.95rem;
    ">Sold</span>
     <% end %>

    <div class="listing-meta clearfix">
      <!-- floater for large -->
      <div class="float-left  show-for-large">
        <span><%= p.address.address_first %></span>
        <span style="font-size: 0.75rem; display: block; font-weight: 300;" class="dark-grey"><%= p.city_province %></span>
      </div>
      <div class="float-right text-right show-for-large" style="font-weight: 200; font-size:15px; font-family: sans-serif; padding: 0 8px;">

        <!-- For medium and large only -->
        <div class="row show-for-large">
          <span class="column small-4 medium-4" style="padding-top: 4.5px;">
            <%= image_tag('bed.svg', class: 'mapsect-icons')%>        
          </span>
          <span class="column small-4 medium-4">
            <%= image_tag('bath.svg', class: 'mapsect-icons')%>  
          </span>
          <span class="column small-4 medium-4">
            <%= image_tag('ruler.svg', class: 'mapsect-icons')%>
          </span>
        </div>

        <div class="row show-for-large" style="text-align: center;">
          <span class="column small-4 medium-4" >
            <%= p.bedrooms %>  <br>  
          </span>
          <span class="column small-4 medium-4">
            <%= p.bathrooms %> <br>  
          </span>
          <span class="column small-4 medium-4" style="padding: 0;">
            <%= p.lot_area %> ft<sup>&#50;</sup> <br> 
          </span>
        </div>

        <!-- <span style="font-size: 0.75rem; display: block;" class="dark-grey">Active</span> -->
      </div>
      <!-- floater for medium -->
      <div class="row expanded show-for-medium-only">
        <span><%= p.address.address_first %></span>
        <span style="font-size: 0.75rem; display: block; font-weight: 300;" class="dark-grey"><%= p.city_province %></span>
      </div>
      <div class="float-right text-right show-for-medium-only" style="font-weight: 200; font-size:15px; font-family: sans-serif; padding: 0 8px;">

        <!-- For medium and large only -->
        <div class="row show-for-medium-only">
          <span class="column small-4 medium-4" style="padding-top: 4.5px;">
            <%= image_tag('bed.svg', class: 'mapsect-icons')%>        
          </span>
          <span class="column small-4 medium-4">
            <%= image_tag('bath.svg', class: 'mapsect-icons')%>  
          </span>
          <span class="column small-4 medium-4">
            <%= image_tag('ruler.svg', class: 'mapsect-icons')%>
          </span>
        </div>

        <div class="row show-for-medium-only" style="text-align: center;">
          <span class="column small-4 medium-4" >
            <%= p.bedrooms %>  <br>  
          </span>
          <span class="column small-4 medium-4">
            <%= p.bathrooms %> <br>  
          </span>
          <span class="column small-4 medium-4" style="padding: 0;">
            <%= p.lot_area %> ft<sup>&#50;</sup> <br> 
          </span>
        </div>

        <!-- <span style="font-size: 0.75rem; display: block;" class="dark-grey">Active</span> -->
      </div>

      <!-- non floater for small screens  -->
      <div class="row expanded float-left-small-screen show-for-small-only">
        <span><%= p.address.address_first %></span>
        <span style="font-size: 0.75rem; display: block; font-weight: 300;" class="dark-grey"><%= p.city_province %></span>
      </div>

      <div class="row expanded float-right-small-screen show-for-small-only" style="font-weight: 200; font-size:15px; font-family: sans-serif; padding: 0 8px;">
        <!-- For small only -->
         <div class="row listing-mobile show-for-small-only">
          <span class="column small-4 medium-4" style="padding-top: 4.5px;">
            <%= image_tag('bed.svg', class: 'mapsect-icons')%>        
          </span>
          <span class="column small-4 medium-4">
            <%= image_tag('bath.svg', class: 'mapsect-icons')%>  
          </span>
          <span class="column small-4 medium-4">
            <%= image_tag('ruler.svg', class: 'mapsect-icons')%>
          </span>
        </div>

        <div class="row listing-mobile show-for-small-only" style="text-align: center;">
          <span class="column small-4 medium-4" >
            <%= p.bedrooms %>  <br>  
          </span>
          <span class="column small-4 medium-4">
            <%= p.bathrooms %> <br>  
          </span>
          <span class="column small-4 medium-4" style="padding: 0;">
            <%= p.lot_area %> ft<sup>&#50;</sup> <br> 
          </span>
        </div>

        <!-- <span style="font-size: 0.75rem; display: block;" class="dark-grey">Active</span> -->
      </div>
    </div>
  </li>
<%end%>

<!-- pagination -->
<%= paginate @properties_paged, {class: "pagination text-center", previous_label: "◀", next_label: "▶"} %>
<!-- end pagination -->

<!-- listing overview -->
<div class="listing-overview"></div>
<!-- end listing-overview -->
