<% @properties_paged.each do |p| %>
  <li id="listing-<%= p.id %>" data-pid=<%= p.id %>>
    <%= link_to "", property_path(p.id), remote: true %>
    <div class="listing-img" data-bg=<%= p.photos.first.picture if p.has_photos? %>>
      <% if p.is_new? %>
      <div class="listing-badge">
        <span>Just Listed</span>
      </div>
      <% end %>
      <div class="listing-price">
        <sup>$</sup>
        <span style=""><%= p.price %></span>
      </div>
    </div>
    <div class="listing-meta clearfix">
      <div class="float-left">
        <span><%= p.address.address_first %></span>
        <span style="font-size: 0.75rem; display: block;" class="dark-grey"><%= p.city_province %></span>
      </div>
      <div class="float-right text-right">
        <span><%= p.lot_area %> sqft &middot; <%= p.bedrooms %> bed <%= p.bathrooms %> bath</span>
        <span style="font-size: 0.75rem; display: block;" class="dark-grey">Active</span>
      </div>
    </div>
  </li>
<%end%>

<!-- pagination -->
<%= paginate @properties_paged, {class: "pagination text-center", previous_label: "◀", next_label: "▶"} %>
<!-- end pagination -->

<!-- listing overview -->
<div class="listing-overview"></div>
<!-- end listing-overview -->
