<% @properties_paged.each do |p| %>
  
  <li id="listing-<%= p.id %>" data-pid=<%= p.id %>>
    <%= link_to "", property_path(p.id), remote: true %>
  

  <div class="listing-img" data-bg=<%= p.photos.first.picture if p.has_photos? %>>
      <% if p.is_new? && p.list_price_cents != 0%>
      <div class="listing-badge">
        <span>Just Listed</span>
      </div>
      <% elsif p.list_price_cents == 0 %>
        <span class="listing-badge sold">Sold</span>
      <% end %>

      <% if p.list_price_cents > 0%>
      <div class="listing-price">
        <sup>$</sup>
        <span><%= p.price %></span>
      </div>
      <% end %>
    </div>

    <div class="listing-meta clearfix">

      <div class="float-left">
        <span><%= p.address.address_first %></span>
        <span style="font-size: 0.75rem; display: block; font-weight: 300;" class="dark-grey"><%= p.city_province %></span>
      </div>
      <div class="float-right text-right" style="font-weight: 200; font-size:1.2rem; font-family: sans-serif">
        <span>
         <%= p.bedrooms %> <%= image_tag('bed.svg', class: 'mapsect-icons')%>
         <%= p.bathrooms %> <%= image_tag('bath.svg', class: 'mapsect-icons')%>
         <%= p.lot_area %> sqft <%= image_tag('ruler.svg', class: 'mapsect-icons')%>
        </span>
        <span style="font-size: 0.75rem; display: block;" class="dark-grey">Active</span>
      </div>

    </div>
  </li>
<%end%>

<!-- pagination -->
<%= paginate @properties_paged, {class: "pagination text-center", previous_label: "◀", next_label: "▶"} %>
<!-- end pagination -->

<!-- listing overview -->
<div class="listing-overview"></div>
<!-- end listing-overview -->
