<div>Step 2 of 5</div>
<h3>Home Upgrades</h3>
<h6 style="color: #52b7e7;">Let us know of any upgrades made in your home</h6>
 <div class="small-12 medium-12 grid-content">
 <hr>
		<label>1. Have any of the following been upgraded?</label>
		<%= fp.fields_for :upgrades_attributes do |fpu| %>
			<br>
			<%= fpu.label :kitchen%>
			<%= fpu.check_box :kitchen%>
			<%= fpu.label :bathroom%>
			<%= fpu.check_box :bathroom%>
			<%= fpu.label :basement%>
			<%= fpu.check_box :basement%>
			<%= fpu.label :pool%>
			<%= fpu.check_box :pool%>
		
	
	</div>

<label>2. You can share images of your imporved home below</label>
<%= fp.fields_for :photos do |ffp| %>
  <div class="file-upload-box">
    <%= ffp.file_field :picture, :multiple => true, name: "photos[picture][]", class: "file-upload", data: {"multiple-caption" => "{count} files selected"}, multiple: true %>
    <%= ffp.label :picture, "Choose a file" %>
  </div>
<%end%>
<% end %>