<%- title "Sell Your Home"%>
<%= image_tag('sales_page/img-1')%>
<div>Step 3 of 7</div>
<h3>Upgrades</h3>
<br />
<div>
	<label> Have you renovated your home since you purchased it?</label>		
	<% if @property.upgrade_cost == 0 %>
	
		<%= radio_button_tag "uc", "yes", false %><small> Yes, I have </small> <br />

		<%= radio_button_tag "uc", "no", true %> <small>No </small> <br />

	<% elsif @property.upgrade_cost > 0%>
				
		<%= radio_button_tag "uc", "yes", true %><small> Yes, I have </small> <br />

		<%= radio_button_tag "uc", "no", false  %> <small>No </small> <br />

	<% end %>

	<label>If yes, how much have you spent on renovations?</label>
	
	<%= fp.text_field :upgrade_cost %>
</div>

<script>
$('#uc_yes').on('change', function(){
	if (document.getElementById('uc_yes').checked == false){
		$('#property_upgrade_cost').prop('disabled', true);
	}
	else if (document.getElementById('uc_yes').checked == true){
		$('#property_upgrade_cost').prop('disabled', false)
	}							
})

$('#uc_no').on('change', function(){
	if (document.getElementById('uc_no').checked == false){
		$('#property_upgrade_cost').prop('disabled', false)
	}
	else if (document.getElementById('uc_no').checked == true){
		$('#property_upgrade_cost').prop('disabled', true)
}

});

</script>
