<div class="row collapse container">
      <div class="small-12 medium-7 show-for-medium columns" id="map-view">
        <div class="map-header vertical-align show-for-small-only ">
          <a href="#" class="btn btn-secondary switch-btn">Listings</a>
        </div>
        
        <div id="map" data-city='<%= @city %>' data-lat='<%= @center["lat"] %>' data-lng='<%= @center["lng"] %>'>
        </div>

      </div>
      <div class="small-12 medium-5 columns" id="listing-view">
        <div id="listings">
          <div class="row collapse">
            <div class="large-12 columns clearfix listing-header vertical-align"><!-- 
               --><a href="#" class="btn btn-secondary show-for-small-only switch-btn" style="color: #68c0ea;
            font-weight: 500;
            border: solid #68c0ea;
            border-radius: 0; ">Map</a>
                  <a href="#" class="btn btn-secondary" id="filter-btn">Filters</a>

                  <a href="#" class="btn btn-secondary hide" id="close-btn">Close</a><!-- 
               --><div class="float-right listing-count show-for-medium">
               <span id="listing-count" style="font-weight: 300; color: #777; display: block;line-height: 40px;"><%= @properties.where("list_price_cents > ?", 0).count %> active listings</span>
               <span id="listing-count" style="font-weight: 300; color: #68c0ea; display:block;line-height: 1px;font-size: 14px;text-align: right; "> <%= @properties.where(list_price_cents: 0).count%> sold</span>
              </div>
            </div>

            <div class="listing-body">
              <!-- listing filters -->
              <%= render 'listings_filter' %>
              <!-- end listing filters -->

              <div class="loader"><div class="spinner"></div></div>

              <ul>
                <% if @properties.count == 0 %>
                <div class="text-center">There are no properties here</div">
                <%else%>
                  <%= render 'listing_item' %>
                <%end%>
              </ul>

 <!--              <div class="listing-footer">
                <a href="#" target="_blank" class="btn btn-primary" id="detail-btn">See Details</a>
              </div> -->

            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <script src="js/map.js"></script> -->
 <!--    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzu93Bw-ih-f9ZAToKerHN81ivZNYmtIw&callback=initMap&libraries=places&callback=autoComplete"
    async defer></script> -->
