<%- title 'Listed Homes'%>
<div class="push-footer">
	<h1>listing</h1>

	<div class="row expanded picture-slider ">
		<div class=" small-12 columns pictures">
			
		</div>
	</div>

	<section class="listing-info row">
		<div class="small-12 columns address">
			<h3><%= @property.address.address_first%></h3>
			<h6><%= @property.address.city%>, <%= @property.address.postal_code%></h6>
		</div>

		<div class="row">

			<div class="small-3 medium-3 columns">
			<%= @property[:bedrooms]%></div>
			<div class="small-3 columns">
			<%= @property[:bathrooms]%></div>
			<div class="small-3 columns">
			<%= @property[:floor_area]%></div>
			<div class="small-3 columns">
			<%= @property[:year_built]%></div>

		</div>

		<div class="row">
			<div class="small-3 medium-3 columns">Bedrooms</div>
			<div class="small-3 medium-3 columns">Bathrooms</div>
			<div class="small-3 medium-3 columns">Square Feet</div>
			<div class="small-3 medium-3 columns">Built in</div>
		</div>

		<div class="small-12 columns about-us ">
			<p><small>Zombie ipsum brains reversus ab cerebellum viral inferno, brein nam rick mend grimes malum cerveau cerebro. De carne cerebro lumbering animata cervello corpora quaeritis. Summus thalamus brains sit​​, morbo basal ganglia vel maleficia? De braaaiiiins apocalypsi gorger omero prefrontal cortex undead survivor fornix dictum mauris.</small> </p>
		</div>
	</section>

	<section class="row features">
		<div class="columns">
			
		</div>
	</section>
</div>