<%= form_for setup_property(@property), :html => { :multipart => true } do |fp| %>
  <div class="progress" role="progressbar" tabindex="0" aria-valuenow="<%= @property.current_progress %>" aria-valuemin="0" aria-valuetext="<%= @property.current_progress %> percent"  aria-valuemax="100">
    <div class="progress-meter" style="width: <%= @property.current_progress %>%" ></div>
  </div>
  <div class="row expanded">
    <div class="medium-8 medium-push-2 columns">
      <%= render "properties/#{@property.current_step}_form", :fp => fp %>

      <div class="row collapse">
        <div class="medium-12 columns text-right">
          <%= fp.submit "Back", :name => "back_button" unless @property.first_step? %>
          <%= fp.submit "Next" unless @property.last_step? %>
          <%= fp.submit "Submit" if @property.last_step? %>
        </div>
      </div>
    </div>
  </div>
<%end%>
  
