<%= form_for @property, url: properties_new_path, :html => { :multipart => true }, html: {id: "new-property-form"} do |fp| %>
  <div class="progress" role="progressbar" tabindex="0" aria-valuenow="<%= @property.current_progress %>" aria-valuemin="0" aria-valuetext="<%= @property.current_progress %> percent"  aria-valuemax="100">
    <div class="progress-meter" style="width: <%= @property.current_progress %>%" ></div>
  </div>
  <div class="row expanded">
    <div class="medium-6 medium-centered columns">
      <%= render "properties/#{@property.current_step}_form", :fp => fp %>

      <div class="row collapse">
        <div class="medium-12 columns text-right">
          <%= fp.submit "Back", :name => "back_button", class: "btn btn-secondary", id: "back-btn" unless @property.first_step? %>
          <%= fp.submit "Next", class: "btn btn-primary", id: "submit-btn" unless @property.last_step? %>
          <%= fp.submit "Submit", class: "btn btn-primary" if @property.last_step? %>
        </div>
      </div>
    </div>
  </div>
<%end%>
