<%= form_for @property, url: properties_new_path, :html => { :multipart => true , id: "new-property-form", data: 'abide'} do |fp| %>
  <div class="progress round" role="progressbar" tabindex="0" aria-valuenow="<%= @property.current_progress %>" aria-valuemin="0" aria-valuetext="<%= @property.current_progress %> percent"  aria-valuemax="100">
    <div class="progress-meter" style="width: <%= @property.current_progress %>%" ></div>
  </div>
  <% if @property.first_step?%>
    <div class="sell-title">
      <h2>Selling is simple!</h2>
      <p>OpenReal is the easiest way to get your home sold quickly for cash.</p>
      <hr>
    </div>
  <% end %>
  <div class="row expanded push-footer">
    <div class="small-12 small-centered medium-6 medium-centered columns sales-box-wrapper">
      <%= render "properties/#{@property.current_step}_form", :fp => fp %>
      <div class="row collapse">
        <div class="medium-12 columns text-right">
          <%= fp.submit "Back", :name => "back_button", class: "btn btn-secondary", id: "back-btn" unless @property.first_step? %>
          <%= fp.submit "Next", class: "btn btn-primary", id: "submit-btn" unless @property.last_step? %>
          <%#= fp.submit "Skip", class: "btn btn-primary", id: "submit-btn" if @property.current_step == 'upgrades' %>
          <%= fp.submit "Submit", class: "btn btn-primary" if @property.last_step? %>
        </div>
      </div>
    </div>
  </div>
<%end%>
