<div class="row collapse expanded">
  <div class="medium-12 columns">
    <div class="orbit photo-carousel" role="region" aria-label="home photos" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;" data-pause-on-hover="false" data-timer-delay="3000">
      <ul class="orbit-container">
        <% @property.photos.each do |p|  %>
        <li class="orbit-slide is-active">
          <div class="photo-slide" data-bg=<%= p.picture_url %>></div>
        </li>
      <% end %>
      </ul>
    </div>
    <!-- fancybox -->
    <div class="columns medium-11 fancybox thumbnail-listing">
      <% @property.photos.each do |p|  %>
        <a class="photo-thumb" rel="photo-thumb" href=<%= p.picture_url%> >
          <img src=<%= p.picture.thumb %> />
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- property-overview -->
<div class="row expanded property-overview">
  <div class="medium-10 medium-centered columns">
    <div class="property-status" style="font-size: 26px"><span>For Sale</span></div>
    <div class="show-for-small-only price-below-forsale">
      <h2 style="display: inline-block;"><p style="display: inline;">List price: </p>$<%= @property.price %></h2>
      <p style=" display: inline;">
      $<%=((@property.list_price_cents)/(@property.floor_area)/100)%>/ft<sup>2</sup>
      </p>
    </div>
    <div class="show-for-medium-only price-below-forsale">
      <h4 style="display: inline-block;"><p style="display: inline;">List price: </p>$<%= @property.price %></h4>
      <p style=" display: inline;">
      $<%=((@property.list_price_cents)/(@property.floor_area)/100)%>/ft<sup>2</sup>
      </p>
    </div>
    <div id="sticky-top">
      <div class="property-address">
        <h1><%= @property.address.address_first %></h1><!-- 
     --><h4><span><%= @property.address.city %></span>,&nbsp;<span>BC</span></h4>
      </div>
      <div class="property-bullets">
        <h3><span><%= @property.bedrooms %></span> beds &middot; <span><%= @property.bathrooms %></span> baths &middot; <span><%= @property.floor_area %></span> sqft</h3>
      </div>
    </div>
  </div>
</div>
<!-- end property-overview -->

<div class="row expanded collapse property-details">
  <div class="medium-10 medium-centered columns">
    <div class="row">
      <div class="large-8 medium-12 columns" id="details-column">
        <div class="row collapse">
          <div class="medium-12 columns">
            <h2>About this home</h2>
            <p><%= @property.description %></p>
          </div>
        </div>

        <!-- facts -->
        <div class="row collapse property-facts">
          <div class="medium-3 columns">
            <h3>Facts</h3>
          </div>
          <div class="medium-9 columns">
            <div class="row collapse">
              <div class="medium-6 columns">
                <div><span>Property Type: </span><strong>Single Family</strong></div>
                <div><span>Building Type: </span><strong>House</strong></div>
                <div><span>Title: </span><strong>Freehold</strong></div>
              </div>
              <div class="medium-6 columns">
                <div><span>Floor Space: </span><strong><%= @property.floor_area.nil? ? 'N/A' : @property.floor_area %> sqft</strong></div>
                <div><span>Lot Size: </span><strong><%= @property.lot_area %> sqft</strong></div>
                <div><span>Year built: </span><strong><%= @property.year_built.nil? ? 'N/A' : @property.year_built %></strong></div>
                <div><span></span></div>
              </div>
            </div>
          </div>
        </div>

        <!-- features -->
        <div class="row collapse property-features">
          <div class="medium-3 columns">
            <h3>Features</h3>
          </div>
          <div class="medium-9 columns">
            <div class="row collapse">
              <div class="medium-6 columns">
                <div><span>Storeys: </span><strong><%= @property.stories.nil? ? 'N/A' : @property.stories %></strong></div>
                <div><span>Bedroom: </span><strong><%= @property.bedrooms.nil? ? 'N/A' : @property.bedrooms %></strong></div>
                <div><span>Bathroom: </span><strong><%= @property.bathrooms.nil? ? 'N/A' : @property.bathrooms %></strong></div>
              </div>
              <div class="medium-6 columns">
                <div><span>Fireplace: </span><strong><%= @property.fireplaces.nil? ? 'N/A' : @property.fireplaces %></strong></div>
                <div><span>Number of floors: </span><strong><%= @property.number_of_floors.nil? ? 'N/A' : @property.number_of_floors %></strong></div>
                <!-- <div><span>MLS #: </span><strong>5467535</strong></div>
                <div><span>More...</span></div> -->
              </div>
            </div>
          </div>
        </div>

        <!-- google maps -->
        <div class="row collapse property-map">
          <div class="medium-12 columns">
            <div id="listing-map">
              <a href="http://www.google.com/maps/place/<%=@property.address.latitude.to_f.to_json%>,<%=@property.address.longitude.to_f.to_json%>" target="_blank">
              <div id="map"></div>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="large-4 medium-12 columns show-for-large floating-container" data-sticky-container>
        <div class="floating-box" data-sticky data-sticky-on="large" data-top-anchor="sticky-top:top" data-btm-anchor="listing-map:bottom" data-margin-top="1" style="width: 350px;">
          <div class="property-price">
            <h2 style="display: inline-block;"><small>List price: </small>$<%= @property.price %></h2>
              <span style="vertical-align: -webkit-baseline-middle;"><small>$<%=((@property.list_price_cents)/(@property.floor_area))/100%>/ft<sup>2</sup></small></span>
          </div>
          <div class="contact-form">
            <form action="/contact_forms" data-remote="true" method="post">
            <input type="hidden" name="contact_form[property_id]" value=<%=@property.id%> >
              <div class="row">
                <div class="medium-12 columns">
                  <label class="show-for-sr">Name:</label>
                  <input type="text" placeholder="Your name" name="[contact_form]name" required>
                </div>
              </div>
              <div class="row">
                <div class="medium-12 columns">
                  <label class="show-for-sr">Email:</label>
                  <input type="text" placeholder="Your email" name="[contact_form]email" required>
                </div>
              </div>
              <div class="row">
                <div class="medium-12 columns">
                  <label class="show-for-sr">Phone number:</label>
                  <input type="text" placeholder="Phone number" name="[contact_form]phone">
                </div>
              </div>
              <div class="row">
                <div class="medium-12 columns">
                  <label class="show-for-sr">Message (optional):</label>
                  <textarea placeholder="Message" rows="4" name="[contact_form]notes"></textarea>
                </div>
              </div>
              <div class="row">
                <div class="medium-12 columns">
                  <input type="submit" class="offer-link" style="width: 100%;border-radius: 0;" value="Request info">
                </div>
              </div>
            </form>
<!--             <div>
              <div class="row">
                <div class="medium-12 columns">
                  <%# if customer_signed_in? %>
                    <%# if @favorite %>
                      <a href="#" class="btn btn-large btn-secondary" id="favorite-btn" data-uid=<%#=current_customer.id%> data-pid=<%#=@property.id%> data-fid=<%#=@favorite.id%> data-state="true" >Saved</a>
                    <%# #else %>
                      <a href="#" class="btn btn-large btn-secondary" id="favorite-btn" data-uid=<%#=current_customer.id%> data-pid=<%#=@property.id%> data-fid="" data-state="false" >Save as favorite</a>
                    <%# #end %>
                  <%# #end %>
                </div>
              </div>
              <div class="row">
                <div class="medium-12 columns text-center">
                  <span class="legalese">By sending, you agree to OpenReal's <a target="_blank" href=<%#= terms_path %>>Terms of Use &amp; Privacy Policy</a>.</span>
                </div>
              </div>
            </div> -->
          

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--- metaport -->
<% if !(@property.address.address_first == " 3101 277 THURLOW ")%>
  <div class="row expanded">
    <div class="small-12 medium-offset-1 small-centered columns">
      <h2 style="font-weight: 200; color: #68c0ea; padding-top: 1.85rem;">3D Virtual Tour</h2>
      <div style="position: relative; padding-bottom: 56.25%; padding-top: 25px; height: 0; overflow: hidden;" class="metaport-container">
        <iframe width="853" height="480"
            <% metas = {
              Brooks: "https://my.matterport.com/show/?m=uTUifjUBiFy?medialink=104353",
              Surrey2680: "https://my.matterport.com/show/?m=qzi9wZeRki6?medialink=101517",
              Beach: "https://my.matterport.com/show/?m=S7w4oUiDd1j?medialink=92937",
              Homer: "https://my.matterport.com/show/?m=iSnKvPeCqZF?medialink=101501",
              Montgomery: "https://my.matterport.com/show/?m=WVbwMU7VKGA?medialink=106884"
              }
            %>
            <% case @property.address.address_first
              when "107 - 215 Brookes Street"
                @metastuff = metas[:Brooks]
              when "2680 143A Street"
                @metastuff = metas[:Surrey2680]
              when "102 - 426 Beach Crescent"
                @metastuff = metas[:Beach]
              when "303 - 1560 Homer Mews"
                @metastuff = metas[:Homer]
              when "484 Montgomery Street"
                @metastuff = metas[:Montgomery]
              else
                @metastuff = " "
              end
            %>
          src="<%=@property.matterurl%>" frameborder="0" allow-fullscreen class="iframe-mport"></iframe>
      </div>
    </div>
  </div>
<% end %>
<br>
<div class="show-for-small-only row">
  <%= render "inquiry_form"%>
</div>

<div class="show-for-medium-only row" style="padding: 1.5rem 0;">
  <%= render "inquiry_form"%>
</div>
<!--- Homes -->
<% if !(@property.address.address_first == " 3101 277 THURLOW ")%>
<hr>
<% end %>
<div class="row expanded collapse similar-listings">
  <div class="medium-10 medium-centered columns">
    <div class="row">
      <div class="medium-12 columns">
        <h2>Homes you'll love</h2>
      </div>
    </div>

    <div class="row">

      <% @similar_properties.each_with_index do |p, index| %>
        <div class="small-12 medium-6 large-4 columns <%= index == @similar_properties.size - 1 ? 'end' : '' %>">
          <div class="listing-item">
            <%= link_to "", property_path(p.id), class: "listing-link" %>
            <div class="listing-img" data-bg=<%=p.photos.first.picture if p.has_photos? %>>
              <% if p.is_new? %>
              <div class="listing-badge">
                <span>Just Listed</span>
              </div>
              <% end %>
              <div class="listing-price">
                <sup>$</sup>
                <span style=""><%= p.price %></span>
              </div>
            </div>
            <div class="listing-meta clearfix">
              <div class="float-left">
                <span><%= p.address.address_first %></span>
                <span style="font-size: 0.75rem; display: block;" class="dark-grey"><%= p.address.city %>, BC</span>
              </div>
            </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
<script>
var lat = <%=@property.address.latitude.to_f.to_json%>;
var lng = <%= @property.address.longitude.to_f.to_json %>;

function initMap() {
  var uluru = {lat: lat, lng: lng};
  var map = new google.maps.Map(document.getElementById('listing-map'), {
    zoom: 13,
    center: uluru
  });
  var marker = new google.maps.Marker({
    position: uluru,
    map: map
  });
    }
</script>

