<div class="agent-form" id="agents">
  <%= form_for aform,  html: {id: :agentf }, remote: true do |f| %>
    <div class="field">
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </div>
    <div class="field">
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :company_name %>

      <%= f.select :company_name, options_for_select(["Sutton", "Remax", "Century21","Royal Pacific", "Rennie Group", "MacDonald Westmar", "other"]),  {:prompt => true}, {:id => "options-tag"}%>

      <div id="div1"></div>   
    </div>

    <div class="field agent-submit">
      <%= f.submit "Submit", class: "offer-link"%>
    </div>
  <%end%>
</div>

<script type="text/javascript">
selectCompany();
text_field();
</script>
