<%- title "Agents"%>
<div class="agent_landingpage">
	
	<section class="header">
		<div class="row expanded">

			<div class="small-12 columns">
				<h1>Let OpenReal Do The Work</h1>
			</div>
			<div class="small-12 small-centered columns">
				<h5 class="display-inline-block">Guarantee your sales (and peace of mind), every time.</h5>
			</div>
			<div class="small-12 small-centered columns">
			  <a href="#form-signup">
			  	<span>SIGN UP</span>
			  </a>
		  </div>
		</div>
	</section>

	<section class="info">
		<div class="row">
			<div class="small-12 medium-6 columns">
				<div class="boxed">
					<%= image_tag('icons/info-1')%>
						<h6>Represented sellers</h6>
						<h3> Guaranteed sale </h3>
				</div>
				<div class="contained-paragraphs  small-12 medium-11 columns">
					<p>
						Every agent submitted house is pre-screened before being listed. Once approved, your clients houses can either be listed on our platform, submitted for instant purchase at our valuation, or both!</p>
					<p>
						Depending on your client's choice, we can close on whatever timeline works best for them. From 3 to 60 days out.
					</p>
					<p>
						Signing up as a partnered agent takes 20 seconds. We're accepting agents and properties for our listed locations.
					</p>
				</div>
			</div>

			<div class="small-12 medium-6 columns">
				<div class="boxed">
					<%= image_tag('icons/info-2')%>
						<h6>Seller referrals</h6>
						<h3> Referral bonus </h3>
				</div>
				<div class="contained-paragraphs  small-12 medium-10 columns">
					<p class="sole-paragraph">
						Let us know you've referred an unrepresented seller to OpenReal and we'll make sure you get your cut. Closing takes as little as 3 days and skips the hassle of listings, showings and dealing with repairs on your own.					
					</p>
					<p class="small-print">
						<small>When a referred seller closes with <strong>OpenReal</strong>, you will <u>earn 25% of the commission.</u></small>
					</p>

					<span>
						<a href="/contact" class="offer-link"> Contact us for details</a>
					</span>

				</div>
			</div>

		</div>
	</section>
	<hr>
	
	<section class="info">
		<div class="row">
			<div class="small-12 medium-6 medium-push-6 columns">
				<div class="boxed">
					<%= image_tag('icons/info-3')%>
						<h6>Represented sellers</h6>
						<h3> Innovative approach </h3>
				</div>

				<div class="small-12 columns contained-paragraphs">
					<p>
						Our team of technical experts are using every way imaginable to sell your house if you choose to list with us.
					</p>
					<p>
						We have incorporated professional photography, detailed repords, 3D virtual walkthroughs, and many more cutting edge approaches to sell your house.
					</p>
					<p>
						Let us know if you've got any special requests for your listings. We're open to all ideas!
					</p>
				</div>
			</div>
			<div class="small-12 medium-6 medium-pull-6 columns">
				<div class="flex-video">
  				<iframe width="560" height="315" src="https://www.youtube.com/embed/YxgMIPgmDqU" allowfullscreen style="border:0"></iframe>
				</div>
			</div>
		</div>
	</section>

<hr>
	<section class="accepting-cities">
		<div class="row">
			<div><%= image_tag 'logo_med.png' %></div>
			<div class="columns city-grid">
				<h3>Where we're accepting agents and listings</h3>
			</div>
		</div>

		<div class="row collapse new-listings bkg-white" id="new-listings">

				<div>
		      <div class="medium-3 columns">
		        <div class="card">
		          <div class="card-bg" style="background-image:url(<%= asset_path 'cities/metroVan.jpg' %>);"></div>
		          <container><span>Metro Vancouver</span>
		          
		          </container>
		        </div>
		      </div>
		    </div>

		    <div>
		      <div class="medium-3 columns">
		        <div class="card">
		          <div class="card-bg" style="background-image:url(<%= asset_path 'cities/tri-cities.jpg' %>);"></div>
		          <container><span>Tri-Cities</span>
		          
		          </container>
		        </div>
		      </div>
		    </div>

		    <div>
		      <div class="medium-3 columns">
		        <div class="card">
		          <div class="card-bg" style="background-image:url(<%= asset_path 'cities/okanagan.jpg' %>);"></div>
		          <container><span>Okanagan</span>
		          
		          </container>
		        </div>
		      </div>
		    </div>

		    <div>
		      <div class="medium-3 columns">
		        <div class="card">
		          <div class="card-bg" style="background-image:url(<%= asset_path 'cities/fraserValley.jpg' %>);"></div>
		          <container><span>Fraser Valley</span>
		          
		          </container>
		        </div>
		      </div>
		    </div>
		</div>
	</section>

	<section class="form-start" id="form-signup">
		<div class="row">
			<div class="form-content small-12 small-centered medium-6 medium-centered columns">
				<div>
					<h3>Partner with OpenReal</h3>
					<h6>We're on a mission to simplify real estate. </h6>
				</div>
				<div>
					<%= render 'agent_form', aform: @aform %>
				</div>

				<div id="success">
					<%= image_tag 'success.svg'%>
					<h2>Success!</h2>
      		<p>Great! You'll hear from us soon.</p>
				</div>

			</div>
		</div>
	</section>

</div>	

<script type="text/javascript">

scrollIt();

</script>