<div id="howitworks">
  <%= render "howitworks_header" %>

  <section class="row expanded icon-holder">
    <div class="small-8 medium-9 columns icon-columns">
      <ul class="tabs" data-tabs id="howitworks-tabs">
        <div class="small-4 columns">
          <li class="tabs-title is-active">
            <%= image_tag('icons/howitworks.svg', class: "title_icons")%>
            <a class="text-center remove-greybkgr" aria-selected="true" href="#panel1">
              How it Works
            </a>
          </li>
        </div>
        <div class="small-4 columns">
          <li class="tabs-title">
          <%= image_tag('icons/inspection.svg', class: "title_icons")%>
            <a class="text-center remove-greybkgr" href="#panel2">
              Inspection Process
            </a>
          </li>
        </div>
        <div class="small-4 columns">
          <li class="tabs-title">
          <%= image_tag('icons/closing.svg', class: "title_icons")%>
            <a class="text-center remove-greybkgr" href="#panel3">
              Closing the Deal
            </a>
          </li>
        </div>
      </ul>
    </div>
  </section>

  <div class="tabs-content" data-tabs-content="howitworks-tabs">

    <div class="tabs-panel is-active" id="panel1">
      <section class="row">
        <div class="medium-8 medium-centered columns">

          <div class="row">
            <!-- <div class="small-3 medium-2 columns steps-left">

            </div> -->
            <div class="small-9 medium-10 columns steps-right">
              <div class="order">
                <h2>1</h2>
              </div>
              <h3>Tell us about your home</h3>
              <p>Requesting an offer takes just a few minutes and is completely free.</p>
            </div>
          </div>

          <div class="row">
            <!-- <div class="small-3 medium-2 columns steps-left">
            </div> -->
            <div class="small-9 medium-10 columns steps-right">
              <div class="order">
                <h2>2</h2>
              </div>
              <h3>Receive an offer on your home</h3>
              <p>We base our offer on a comparative market analysis and your home’s unique story.</p>
            </div>
          </div>

          <div class="row">
            <!-- <div class="small-3 medium-2 columns steps-left">

            </div> -->
            <div class="small-9 medium-10 columns steps-right">
              <div class="order">
                <h2>3</h2>
              </div>
              <h3>Schedule your home inspection</h3>
              <p>If you like the price we’ll do a free, quick home inspection to confirm your home’s condition and guarantee your price in writing.</p>
            </div>
          </div>

          <div class="row">
            <!-- <div class="small-3 medium-2 columns steps-left">

            </div> -->
            <div class="small-9 medium-10 columns steps-right">
              <div class="order">
                <h2>4</h2>
              </div>
              <h3>Choose your move-out date.</h3>
              <p>Select the closing date you want, from 3 to 60 days from today.</p>
            </div>
          </div>

          <div class="row">
            <!-- <div class="small-3 medium-2 columns steps-left">

            </div> -->
            <div class="small-9 medium-10 columns steps-right">
              <div class="order">
                <h2>5</h2>
              </div>
              <h3>We’ll take care of the rest.</h3>
              <p>Watch the progress of your sale while we take care of all of the details, including arranging escrow.</p>
            </div>
          </div>

          <div class="row">
            <!-- <div class="small-3 medium-2 columns steps-left">

            </div> -->
            <div class="small-9 medium-10 columns steps-right">
              <div class="order">
                <h2>6</h2>
              </div>
              <h3>And you’re done!</h3>
              <p>You will receive the proceeds from your home‘s sale on your chosen closing date.</p>
            </div>
          </div>

        </div>
      </section>
    </div>

    <div class="tabs-panel" id="panel2">
      <div class="row">
        <div class="small-6 columns">
          <h6><strong>WHY DO WE DO INSPECTIONS?</strong></h6>
          <p>We provide a free inspection to verify the condition of your home before closing. We’ll check for items that need repair or replacement or aren't up to code. Additionally, we’ll make sure that what we see in person matches the information you provided us and that we didn't miss anything.</p>
          <h6 id="inspection-2"><strong>HOW DOES THE INSPECTION WORK?</strong></h6>
          <p>A licensed inspector, termite inspector and an OpenReal team member will work together to complete the inspection. ​We may also send specialists to examine your HVAC system, roof, or foundation. Inspections typically take around 2 hours, depending on the size of your house. The inspector will require access to all rooms in your home, including garage, attic and basement, as well as outdoor areas such as the yard and roof.</p>
        </div>
        <div class="small-6 columns">
          <h6><strong>WHAT IF THERE'S A DISCREPANCY IN THE HOUSE'S CONDITION OR REPAIRS ARE NEEDED?</strong></h6>
          <p>If we find that the house is not as we expected it to be, we may ask for a credit for the difference. If repairs are needed, we will provide an estimate of the costs required to make these fixes. We’ll ask that you sign an addendum to the contract that will cover any credits we ask for. If you aren’t willing to cover these credits, you are free to cancel the contract and walk away with no costs or obligation.</p>
        </div>
      </div>
    </div>

    <div class="tabs-panel" id="panel3">
      <div class="row">
        <div class="small-6 columns">
          <h5><strong>How does closing work?</strong></h5>
          <br>
          <br>
          <h6><strong>1 - ESCROW ACCOUNT OPENED</strong></h6>
          <p>Once you sign the contract, we’ll open an escrow account with a national title company. Escrow generally refers to money held by a third-party on behalf of transacting parties. To start the closing process, OpenReal will fund an earnest deposit to show our commitment to the purchase, and your escrow agent will ask you about your mortgage provider and reach out to your HOA.</p>
          <h6><strong>2 - SIGNING CLOSING DOCUMENTS</strong></h6>
          <p>A few days before your close date, your escrow agent will reach out to you to find a time for you to sign the final closing documents and choose how you’d like to receive funds. You may sign the documents at the title company's local office or schedule a mobile notary to meet you where it’s most convenient for you.</p>
        </div>
        <div class="small-6 columns padding-fix-inspection-tab">
          <br>
          <br>
          <br>

          <h6><strong>3 - THE FINAL WALKTHROUGH</strong></h6>
          <p>A day before the close date, we’ll schedule a final walkthrough of your house to ensure the condition of your house looks as it did upon inspection, and that all of your belongings are moved out. Leaving belongings behind could delay the closing process.</p>
          <h6><strong>DAY OF CLOSING</strong></h6>
          <p>On the day of closing, the transaction is recorded on the public record and your escrow agent will distribute funds to you. And don’t worry, you don’t have to remember all of this now. We’ll be right there with you all the way through!</p>
        </div>
      </div>
    </div>

  </div>
  <hr>
  <%= render 'get_offer' %>

</div>
