<%- title "Sell Your Home Instantly!" %> 
<!--hero-->

<div id="actionModalHome" class="reveal small hide-for-small-only" data-reveal  data-v-offset="150"  data-animation-in='fade-in' data-animation-out='fade-out' aria-labelledby="Looking to buy, sell, or are you an agent?" aria-hidden="true" role="dialog">
 <!-- <a class="close-reveal-modal float-right" aria-label="Close">&#215;</a> -->
  <div class="modal-internal-img">
  </div>
  <div class="modal-logo-img column small-6 small-centered medium-6 medium-centered large-6 large-centered">
    <%= image_tag('logo_lg')%>
  </div>
  <div class="text">
    <h3>Real Estate, <span><h3>Simplified</h3></span>.</h3>
    <p><small>How can we help you?</small></p>
  </div>

  <div class="row expanded modal-btns">
    <div class="columns small-12  medium-3 modal-col">
      <a href="/listings">Buy a Home</a>
    </div>
    <div class="columns small-12 medium-3 modal-col">
      <a href="<%= new_property_path%>">Sell Your Home</a>
    </div>
    <div class="columns small-12 medium-3 modal-col end">
      <a href="<%= agents_path%>">List a Client's Home</a>
    </div>
  </div>
</div>

<div id="actionModalHomeSmall" class="reveal tiny show-for-small-only" data-reveal data-animation-in="fade-in" aria-labelledby="Looking to buy, sell, or are you an agent?" aria-hidden="true" role="dialog">
  <div class="small-modal-img">
  </div>
  <div class="small-modal-logo columns small-6 small-centered">
    <%= image_tag('logo_lg')%>
  </div>
  <div class="text-small">
    <h3>Real Estate, <span><h3>Simplified</h3></span>.</h3>
    <p><small>How can we help you?</small></p>
  </div>

  <div class="row btn-row">
    <button class="columns small-12 button small">
      <a href="/listings">Buy A Home</a>
    </button>
    <button class="columns small-12 button small">
      <a href="<%= new_property_path%>">Sell Your Home</a>
    </button>
    <button class="columns small-12 end button small"> 
      <a href="<%= agents_path%>">List A Client's Home</a>
    </button>
  </div>

</div>

<section class="" id="hero">
  <div class="hero-bg"></div>
  <div class="intro">
    <div class="row expanded second-row-margin">
      <div class="search-bar small-12 medium-8 medium-centered large-8 columns">
      
        <!-- Search field -->
        <%= form_tag (properties_sell_path), id: "addressForm" do %>
          <div class="input-div">
            <div class="title show-for-small-only">
              <h1>Sell Your Home <br /> To <span>OpenReal</span></h1>
            </div>
            <div class="title hide-for-small-only">
              <h1>
                <a class="allhomes" href="/properties/new">Sell Your Home</a>
                to us,
              </h1>
              <h1>
                or browse
                <a class="somehomes" href="/listings">Our Listings</a>.
              </h1>
              <br />
            </div>

            <p id="first-child-title-p" class="hide-for-small-only">Sell your home to OpenReal.</p>
            <p>Skip the stress of showings, uncertainty, and months of negotiations.</p>
            <button class="offer-addressInput"> Get Your Free Offer</button>
            <input type="text" id="addressInput" class="addressInput" placeholder="Enter your home address" name="addressInput">
            <input type="hidden" name="addressFirst" id="addressFirst">
            <input type="hidden" name="addressSecond" id="addressSecond">
            <input type="hidden" name="addressCity" id="addressCity">
            <input type="hidden" name="addressPostal" id="addressPostal">
            <input type="hidden" name="addressLat" id="addressLat">
            <input type="hidden" name="addressLng" id="addressLng">
            <input type="submit" class="hide">

          </div>
        <% end %>
      </div>
    </div>
  </div>
  <a href="#listing-banner" class="arrow"><span>Scroll Down</span></a>
</section>

<section class="row" id="sold-banner">
  <div class="column small-12 medium-4 medium-offset-0 large-3 large-offset-1 sold-bnr-digits">
    <h1><%= @properties_active %></h1>
    <p><a href="/listings" class="hide-for-small-only">active listings</a></p>
    <p class="show-for-small-only">active listings</p>
    <p class="show-for-small-only line-two-mobile"><a href="/howitworks">Learn more about selling!</a></p>
  </div>
  <div class="column show-for-medium medium-8 large-6 large-offset-1 bnr-line-two end">
    <p>OpenReal provides market value for your home and all the flexibility and certainty you need.</p>
    <p><a href="/howitworks">Learn more about selling!</a></p>
  </div>

  
</section>
<!--end of hero-->
<!-- listing banner -->
<section class="listing-banner row expanded homepage-listings" id="listing-banner">
<div class="columns text-center section-title">
      <h2 class="medium-6 medium-push-3 columns title-list">Homes for Sale</h2>
      <h4 class="medium-12 columns sub-title-list">Inspected and verified, now you can buy with a peace-of-mind</h4>
</div>
  <% if @properties_p.count <= 2 %>
        <p>No listings available at this moment</p>
  <% else %>
  <div class="medium-12 medium-centered columns" style="
    padding: 0;">
    <div class="row collapse">
      <!-- photo carousel -->
      <div class="medium-10 medium-centered columns">
        <%= render 'properties/_6properties/property_1'%>
        <%= render 'properties/_6properties/property_2'%>
      </div>

    
      <!-- CTA -->
      <div class="row cta text-center">
        <div class="v-align columns">
          <h2>Buy an OpenReal home that you’re guaranteed to love.</h2>
          <a href="/listings" class="offer-link" style="font-size: inherit; padding: 0.8em">See All OpenReal Listings</a>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</section>
<!-- end of listing banner -->

<!-- why -->
<section class="row expanded" id="why">
  <div class="row text-center section-title">
    <h2 class="medium-6 medium-push-3 columns">Your home buying and selling experience. Hassle-free.</h2>
  </div>
  <div class="row collapse">
    <div class="medium-10 medium-centered columns">
      <div class="row">
        <div class="small-12 medium-4 large-4 columns">
          <div class="points">
            <%= image_tag('home-1.svg') %>
            <p class="lead">Your home is sold the moment you're ready</p>
            <p class="subheader">No need to hire an agent, list your home, or wait months for transactions to complete.</p>
          </div>
        </div>
        <div class="small-12 medium-4 large-4 columns">
          <div class="points">
            <%= image_tag('home-2.svg') %>

            <p class="lead">Obtain a fair offer by telling us everything about your home</p>
            <p class="subheader">No need to host countless showings with contracts falling through.</p>
          </div>
        </div>
        <div class="small-12 medium-4 large-4 columns">
          <div class="points">
            <%= image_tag('home-3.svg') %>
            <p class="lead">Move in to your dream home worry-free</p>
            <p class="subheader">All of our listings have certified home inspection and extended coverage warranty.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row text-center section-title" id="learn">
    <a href="/howitworks" class="offer-link">Learn more</a>
  </div>
</section>
<!-- end of why -->

<!-- new listings -->
<!-- end new listings -->

<!-- agents -->
<div class="row expanded" id="first-row">
  <div class="small-2 small-offset-10 medium-3 medium-offset-9 large-3 large-offset-9 columns hide-for-small-only" id="agent-nav-start" data-sticky-container>
    <nav class="sticky" data-sticky data-anchor="first-row" data-check-every="0" data-sticky-on="medium" data-margin-top="9.2">
      <div class="agent-content-sticky" style="margin-top: 1.3em;">
        <p><%= image_tag ("logo_med")%></p>
        <h5>Learn more about working with us</h5>

        <div class="select-company" id="select-company">
          <%= select_tag "company_name", options_for_select(["Sutton", "Remax", "Century21","Royal Pacific", "Rennie Group", "MacDonald Westmar", "other"]), include_blank: "Select One"%>
          <a href="/agents"><button class="offer-link" style="border-radius: 0;" >Submit</button></a>
          <h6>Getting your home offers are free and easy</h6>
        </div>
      </div>
    </nav>  
  </div>
  
  <div class="row expanded collapse second-row" id="agents-section">

    <div class="medium-12 columns">
      <div class="row align-center agents-intro">
       <div class="small-11 small-centered medium-6 medium-offset-1 large-7 large-offset-1  columns agent-contents  ">
         <h2>Agents, want a Guaranteed sale?</h2>
         <p> Unlike usual listing boards, WE offer to buy your homes! Get the certainty you deserve. </p>
         <ul class="row align-center">
           <li>
              <%= image_tag 'wrench.svg', class: 'svg-img'%>
           <span>Submit a property for purchase and we'll work with you every step of the way.</span>
           </li>
           <li>
              <%= image_tag 'head.svg', class: 'svg-img'%>
            <span>We are available via chat, email, phone and in person.</span>
           </li>
           <li>
              <%= image_tag 'homefill.svg', class: 'svg-img'%>
            <span>No need to set up open houses. Selling to us is a breeze!</span>
            </li>
         </ul>
       </div> 
      </div>

      <div class="row align-center agents-mid">
        <div class="small-11 small-centered medium-6 medium-offset-1 large-7 large-offset-1 columns agent-contents">
          <h2>Maximum Marketing</h2>
          <p>
            Out of our <!-- <a href="/faq" id="redirect-to-faq"> -->price range?<!-- </a> --> We also offer <color>professional photos</color>, <color>aerial videos</color>, immersive <color>virtual reality tours</color>, and more, to show your home at it's best. Our team has over a decade of professional real estate experience and can help get your home sold, hassle-free!
          </p>
        <% if @property && @property.matterurl %>
          <div class="homepage-matterurl">
            <iframe width="810" height="500" src="<%=@property.matterurl%>" frameborder="0" allow-fullscreen ></iframe>
          </div>
        <%end%>
        </div>
      </div>

      <div class="row align-center agents-intro">
       <div class="small-11 small-centered medium-6 medium-offset-1 large-7 large-offset-1 columns agent-contents  ">
         <h2>Guaranteed Price</h2>
         <p> Unsure of what your listing is worth? Our propriatery algorithms are built by industry experts. </p>
         <ul class="row align-center">
           <li>
              <%= image_tag 'dollar-symbol.svg', class: 'svg-img'%>
           <span>Our in-house algorithms evaluate hundreds of characteristics about your home and location.</span>
           </li>
           <li>
              <%= image_tag 'checklist.svg', class: 'svg-img'%>
            <span>A comprehensive report gives you and your buyers total transparency and peace-of-mind.</span>
           </li>
           <li>
              <%= image_tag 'success2.svg', class: 'svg-img'%>
            <span>We back up our price with free home warranties and 30-day buy backs.</span>
            </li>
         </ul>
       </div> 
      </div>

      <div class="row agents-mid last-child ">
        <div class="small-11 small-centered medium-6 medium-offset-1 large-7 large-offset-1 columns agent-contents">
          <h2>A Painless Process</h2>
          <p>Sign in to your account, import your already live listings, and start selling in minutes. Get in touch and we can even do it all for you! OpenReal is the all-in-one real estate platform. <br><span class="show-for-small-only" style="font-weight: 400;"> Learn more about working with us </span> <a class="show-for-small-only" href="/agents" style="text-decoration: underline; color: #68c0ea; font-weight: 500;">here.</a></p>
        </div>
      </div>
    </div>

    <!-- sticky-nav start -->

  </div>
  
</div>
  
<hr>
<section class="partners">
  <h6>Our Partners</h6>
  <div class="row expanded row-margin" style=" margin-left: 8%;">
    <div class="small-12 small-offset-0 medium-3 medium-offset-1 columns">
      <%= image_tag('partners/tedLogo.png', class: 'partner-img worldh')%>
    </div>
    <div class="small-12 medium-3 columns">
      <%= image_tag('partners/suttonLogo.jpg', class: 'partner-img sutton')%>
    </div>
    <div class="small-12 medium-3 end columns">
      <%= image_tag('partners/cibcLogo.png', class: 'partner-img cibc' )%>
    </div>
  </div>
</section>
  <!-- sticky-nav end -->



  <!-- end of agents -->
 
<script type="text/javascript">
  scrollIt();
  grabCompanyChosen();
  redirectToFaq();


  $(document).ready(function(){
    if (($( window ).width() > 639) && (sessionStorage.getItem('popup') == null)){
      setTimeout(function(){
        $('#actionModalHome').foundation('open');
        sessionStorage.setItem('popup', 1)
        $('.close-reveal-modal').click(function(){
          $('#actionModalHome').foundation('close');
        })
      },1000)      
    }
    else if (($(window).width() < 640) && (sessionStorage.getItem('popup') == null)){
      $('#actionModalHomeSmall').foundation('open');
      sessionStorage.setItem('popup', 1)
    };
  })


  
</script>



