<!--hero-->
<section class="hero">
  <div class="intro">
    <div class="row expanded">
      <div class="small-9 medium-8 medium-push-2 columns">
        <h1>Welcome to OpenReal</h1>
        <p>Sell your home to OpenReal and eliminate the hassle of listings, showings and months of uncertainty.</p>
      </div>
      <!--Search Bar-->
      <div class="search-bar">
        <div class="small-9 medium-8 medium-push-2 columns">
          <!-- Search field -->
          <%= form_tag (properties_sell_path), id: "addressForm" do %>
            <div>
              <input type="text" id="addressInput" placeholder="Enter your home address" name="addressInput">
              <input type="hidden" name="addressFirst" id="addressFirst">
              <input type="hidden" name="addressSecond" id="addressSecond">
              <input type="hidden" name="addressCity" id="addressCity">
              <input type="hidden" name="addressPostal" id="addressPostal">
              <input type="hidden" name="addressLat" id="addressLat">
              <input type="hidden" name="addressLng" id="addressLng">
              <input type="submit" class="hide">
              <!-- <div class="input-group-button">
                <button class="button">Get&nbsp;Offer</button>
              </div> -->
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<!--end of hero-->
<section class="listing-banner row expanded" id="listing-banner">
  <div class="medium-10 medium-centered columns">
    <div class="row collapse">
      <!-- photo carousel -->
      <div class="medium-8 columns">
        <div class="orbit photo-carousel" role="region" data-orbit>
          <ul class="orbit-container">
            <li class="orbit-slide">
              <div class="photo-slide" data-bg=<%= asset_path('P1.jpg') %>></div>
            </li>
            <li class="orbit-slide">
              <div class="photo-slide" data-bg=<%= asset_path('P5.jpg') %>></div>
            </li>
            <li class="orbit-slide">
              <div class="photo-slide" data-bg=<%= asset_path('P4.jpg') %>></div>
            </li>
            <li class="orbit-slide">
              <div class="photo-slide" data-bg=<%= asset_path('P5.jpg') %>></div>
            </li>
          </ul>
        </div>
      </div>
      <!-- CTA -->
      <div class="medium-4 columns cta text-center">
        <div class="v-align">
          <h2>Buy an OpenReal Home that you’re guaranteed to love.</h2>
          <a href="#" class="btn btn-primary">View our homes</a>
        </div>
      </div>

  </div>
</section>








<div>
  <% if @user %>
    <div>
    <% if @user.class == Admin %>
      <%= link_to 'Log Out', destroy_admin_session_path, method: :delete %>
    <% elsif @user.class == Agent %>
      <%= link_to 'Log Out', destroy_agent_session_path, method: :delete %>
    <% elsif @user.class == Customer %>
      <%= link_to 'Log Out', destroy_customer_session_path, method: :delete %>
    <%end%>
      <%= link_to 'Dashboard', dashboard_path %>
    </div>
  <%else%>
    <%= link_to 'Register', register_path %>
    <%= link_to 'Log In', login_path %>
  <%end%>
</div>
<br>
<!--Start Why Opendoor Section -->
<section>
  <div class="row column text-center section-title">
    <h2>Why OpenReal?</h2>
  </div>
  <br>
  <div class="row small-up-1 medium-up-3 large-up-3" class="perks">
  <div class="small-1 medium-3 large03 columns">
    <div class="callout">
      <p><%= image_tag "money.jpg" %></p>
      <p class="lead">Selling your home hassle-free the moment when you are ready</p>
      <p class="subheader">No need to hire an agent, list your home and wait for months for transaction to complete.</p>
      <a href="">Learn More ></a>
    </div>
  </div>
  <div class="small-1 medium-3 large03 columns">
    <div class="callout">
      <p><%= image_tag 'house.jpg' %></p>
      <p class="lead">Obtaining a fair offer by telling us everything about your home</p>
      <p class="subheader">No need to host countless showings with contracts falling through.</p>
      <a href="">Get Offer ></a>
    </div>
  </div>
  <div class="small-1 medium-3 large03 columns">
    <div class="callout">
      <p><%= image_tag 'coins.jpg' %></p>
      <p class="lead">Moving in to your dream home worry-free</p>
      <p class="subheader">All of our listings have certified home inspection and extended coverage warranty.</p>
      <a href="">View Listings ></a>
    </div>
  </div>
</section>
<!--End Why Opendoor Section -->

<br>
<!--Start Browser by City Section-->
<section>
  <div class="row column text-center section-title">
  <h2>Browse By City</h2>
  </div>
<div class="row">
  <div class="small-12 medium-6 large-8 columns">
    <div class="card" style="background-image:url(<%= asset_path 'whiterock.jpg' %>);">
      <a href="#" data-id="Whiterock">
        <div class="va-container">
          <div class="va-middle text-center text-contrast">
            <h2><strong>White Rock</strong></h2>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="small-12 medium-6 large-4 columns">
    <div class="card" style="background-image:url(<%= asset_path 'burnaby.jpg' %>);">
      <a href="#" data-id="Burnaby">
        <div class="va-container">
          <div class="va-middle text-center text-contrast">
            <h2><strong>Burnaby</strong></h2>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="small-12 medium-6 large-4 columns">
    <div class="card" style="background-image:url(<%= asset_path 'delta.jpg' %>);">
      <a href="#" data-id="Delta">
        <div class="va-container">
          <div class="va-middle text-center text-contrast">
            <h2><strong>Delta</strong></h2>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="small-12 medium-6 large-4 columns">
    <div class="card" style="background-image:url(<%= asset_path 'mapleridge.jpg' %>);">
      <a href="#" data-id="mapleridge">
        <div class="va-container">
          <div class="va-middle text-center text-contrast">
            <h2><strong>Maple Ridge</strong></h2>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="small-12 medium-12 large-4 columns">
    <div class="card" style="background-image:url(<%= asset_path 'vancouver.jpg' %>);">
      <a href="#" data-id="vancouver">
        <div class="va-container">
          <div class="va-middle text-center text-contrast">
            <h2><strong>Vancouver</strong></h2>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
</section>
<!--End Featured Listing Section-->
<br>
<!--Start Reference-->
<div class="row column text-center section-title">
  <h2>In the News</h2>
</div>
<br>
<div class="row small-up-2 medium-up-3 large-up-6">
  <div class="column" id="news">
    <img class="thumbnail" src="http://placehold.it/300x400">
    <h5>CBC</h5>
  </div>
  <div class="column">
    <img class="thumbnail" src="http://placehold.it/300x400">
    <h5>bloomberg</h5>
  </div>
  <div class="column">
    <img class="thumbnail" src="http://placehold.it/300x400">
    <h5>TechNews</h5>
  </div>
  <div class="column">
    <img class="thumbnail" src="http://placehold.it/300x400">
    <h5>VancouverSun</h5>
  </div>
  <div class="column">
    <img class="thumbnail" src="http://placehold.it/300x400">
    <h5>CNN</h5>
  </div>
  <div class="column">
    <img class="thumbnail" src="http://placehold.it/300x400">
    <h5>Metro Vancouver</h5>
</div>
<!--End Reference-->
<br>
<!--Start Footer-->
<hr>
<div class="callout large secondary">
  <div class="row">
    <div class="large-4 columns">
      <h5>Vivamus Hendrerit Arcu Sed Erat Molestie</h5>
      <p>Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit.</p>
    </div>
    <div class="large-3 large-offset-2 columns">
      <ul class="menu vertical" id="social">
        <li><a href="#"><i class="fi-social-facebook"></i></a></li>
        <li><a href="#"><i class="fi-social-twitter"></i></a></li>
        <li><a href="#"><i class="fi-social-tumblr"></i></a></li>
        <li><a href="#"><i class="fi-social-youtube"></i></a></li>
      </ul>
    </div>
    <div class="large-3 columns">
      <ul class="menu vertical" id="social">
        <li><a href="#"><i class="fi-social-google-plus"></i></a></li>
        <li><a href="#"><i class="fi-social-vimeo"></i></a></li>
        <li><a href="#"><i class="fi-social-yahoo"></i></a></li>
        <li><a href="#"><i class="fi-social-instagram"></i></a></li>
      </ul>
    </div>
  </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzu93Bw-ih-f9ZAToKerHN81ivZNYmtIw&libraries=places&callback=autoComplete" async defer></script>
