<!--hero-->
<section class="" id="hero">
  <div class="hero-bg"></div>
  <div class="intro">
    <div class="row expanded">
      <div class="small-9 medium-8 small-centered medium-centered columns">
        <h1>Welcome to OpenReal</h1>
        <p>Sell your home to OpenReal and eliminate the hassle of listings, showings and months of uncertainty.</p>
      
        <!--Search Bar-->
        <div class="search-bar">
          <!-- Search field -->
          <%= form_tag (properties_sell_path), id: "addressForm" do %>
            <div>
              <input type="text" id="addressInput" placeholder="Enter your home address" name="addressInput">
              <input type="hidden" name="addressFirst" id="addressFirst">
              <input type="hidden" name="addressSecond" id="addressSecond">
              <input type="hidden" name="addressCity" id="addressCity">
              <input type="hidden" name="addressPostal" id="addressPostal">
              <input type="hidden" name="addressLat" id="addressLat">
              <input type="hidden" name="addressLng" id="addressLng">
              <input type="submit" class="hide">
              <!-- <div class="input-group-button">
                <button class="button">Get&nbsp;Offer</button>
              </div> -->
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <a href="#listing-banner" class="arrow"><span>Scroll Down</span></a>
</section>
<!--end of hero-->

<!-- listing banner -->
<section class="listing-banner row expanded" id="listing-banner">
  <div class="medium-10 medium-centered columns">
    <div class="row collapse">
      <!-- photo carousel -->
      <div class="medium-8 columns">
        <div class="orbit photo-carousel" role="region" data-orbit>
          <ul class="orbit-container">
            <li class="orbit-slide">
              <div class="photo-slide" data-bg=<%= asset_path('P1.jpg') %>></div>
            </li>
            <li class="orbit-slide">
              <div class="photo-slide" data-bg=<%= asset_path('P5.jpg') %>></div>
            </li>
            <li class="orbit-slide">
              <div class="photo-slide" data-bg=<%= asset_path('P4.jpg') %>></div>
            </li>
            <li class="orbit-slide">
              <div class="photo-slide" data-bg=<%= asset_path('P5.jpg') %>></div>
            </li>
          </ul>
        </div>
      </div>
      <!-- CTA -->
      <div class="medium-4 columns cta text-center">
        <div class="v-align">
          <h2>Buy an OpenReal home that you’re guaranteed to love.</h2>
          <a href="<%= faq_path %>#guarantee" class="btn btn-primary">OpenReal FAQ</a>
        </div>
      </div>

  </div>
</section>
<!-- end of listing banner -->

<!-- why -->
<section class="row expanded" id="why">
  <div class="row text-center section-title">
    <h2 class="medium-6 medium-push-3 columns">Your home buying and selling experience. Hassle-free.</h2>
  </div>
  <div class="row collapse">
    <div class="medium-10 medium-centered columns">
      <div class="row">
        <div class="small-12 medium-4 large-4 columns">
          <div class="points">
            <%= image_tag('bubble.svg') %>
            <p class="lead">Your home is sold the moment you're ready</p>
            <p class="subheader">No need to hire an agent, list your home and wait for months for transaction to complete.</p>
          </div>
        </div>
        <div class="small-12 medium-4 large-4 columns">
          <div class="points">
            <%= image_tag('data-house.svg') %>

            <p class="lead">Obtain a fair offer by telling us everything about your home</p>
            <p class="subheader">No need to host countless showings with contracts falling through.</p>
          </div>
        </div>
        <div class="small-12 medium-4 large-4 columns">
          <div class="points">
            <%= image_tag('truck.svg') %>
            <p class="lead">Move in to your dream home worry-free</p>
            <p class="subheader">All of our listings have certified home inspection and extended coverage warranty.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row text-center section-title">
    <a href="/howitworks" class="btn btn-secondary">Learn more</a>
  </div>
</section>
<!-- end of why -->

<!-- new listings -->
<!-- end new listings -->

<!-- districts -->
<section class="row expanded collapse new-listings"" id="new-listings" style="background-color:#f5f5f5;">
  <div class="medium-10 medium-centered columns">
    <div class="row text-center section-title">
      <h2 class="medium-6 medium-push-3 columns">Two years of coverage so you can buy with confidence.</h2>
    </div>

    <div class="row">
      <div class="medium-8 columns ">
        <div class="card">
          <div class="card-bg" style="background-image:url(<%= asset_path 'cities/metroVan.jpg' %>);"></div>
          <container><span class="city-name">Metro Vancouver</span>
          <span class="coming-soon">-Coming Soon-</span>
          </container>
        </div>
      </div>

      <div class="medium-4 columns">
        <div class="card">
          <div class="card-bg" style="background-image:url(<%= asset_path 'cities/tri-cities.jpg' %>);"></div>
          <container><span class="city-name">Tri-Cities</span>
          <span class="coming-soon">-Coming Soon-</span>
          </container>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="medium-4 columns">
        <div class="card">
          <div class="card-bg" style="background-image:url(<%= asset_path 'cities/okanagan.jpg' %>);"></div>
          <container><span class="city-name">Okanagan</span>
          <span class="coming-soon">-Coming Soon-</span>
          </container>
        </div>
      </div>

      <div class="medium-8 columns">
        <div class="card">
          <div class="card-bg" style="background-image:url(<%= asset_path 'cities/fraserValley.jpg' %>);"></div>
          <container><span class="city-name">Fraser Valley</span>
          <span class="coming-soon">-Coming Soon-</span>
          </container>
        </div>
      </div>
    </div>
  </div>

</section>
<!-- end of districts -->
