<div class="agent_landingpage" id="investors">
	
	<section class="header">
		<div class="row expanded">
			<div class="small-12 small-centered columns">
				<h5 class="display-inline-block invest-title">Invest In The <span>Only REIT</span> Backed By Technology</h5>
			</div>
			<div class="small-12 columns">
				<h1 class="s-view">The OpenReal REIT Fund</h1>
			</div>

			<div class="small-12 small-centered columns">
			
			  <a href="#form-signup" id="invest-form">
			  	<span>Invest Now</span>
			  </a>
			  <br>
			  <br>
			  <p></p>
		  </div>
		</div>
	</section>

	<section class="info">
		<div class="row">
			<div class="small-12 medium-6 columns">

				<div class="boxed">
					<%= image_tag('icons/info-3')%>
					<h3>Algorithm Based Decisions</h3>
				</div>

				<div class="contained-paragraphs cp-1 small-12 medium-12 large-11 columns">
					<p>OpenReal is a tech company, and our focus is local Real Estate. Our expert team has built an exceptional platform made to simplify Real Estate. </p>
					<p>Our property pricing algorithms take over 150 points of data to quickly and accurately assess homes at market value.					</p>
					<p>To learn more, request info below.</p>
				</div>

			</div>

			<div class="small-12 medium-6 columns">
				<div class="boxed">
					<%= image_tag('icons/info-2')%>
					<h3>Min $250k Investments</h3>
				</div>
				<div class="contained-paragraphs cp-2 small-12 medium-12 large-10 columns">
					<p class="sole-paragraph">The OpenReal REIT Fund is open to all Accredited Investors looking to buy into the local Real Estate Market. Our target market are all residential properties ranging from $500k - $1.25M in price, located in British Columbia. </p>
					<p class="small-print">
						<small>Refer an accredited investor to<strong> OpenReal</strong>, and you could <u>earn up to 3% of the commission.</u></small>
					</p>
					<span>
						<a href="/contact" class="offer-link"> Contact us for details</a>
					</span>
				</div>
			</div>
		</div>
	</section>

	<section id="invest-bar">
		<div class="row invest-progress">
			<h2>Live Investment Progress</h2>
		</div>
		<div></div>
		<div>
			$<span>972</span>K
		</div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div>Goal 1: $<span>7.5</span> Million
		<p>25% Equity</p>
		</div>
		<div></div>
		<div></div>
		<div>Goal 2: $<span>10</span> Million
		<p>30% Equity</p>
		</div>
		<div></div>
		<div id="form-signup"></div>
	</section>

	<section id="investors-contact">
		<div class="sell-title row columns">
      <h2>Launching August 1st</h2>
      <div>
	      <p>OpenReal will be accepting new investors until July 31st</p>
	      <hr style="width: 25%;">
      </div>
    </div>
   </section>

    <section id='investors-form-start' class="form-start">
    	<div class="row invest-f">
    		<%= form_for @investor, method: :post, remote: true do |f|%>
    		<div class="form-content columns small-12 medium-6 medium-offset-3 end">
    			<h3>Invest In <span><h3 class="form-instantly" id="h3-underline"> OpenReal</h3> Today</span></h3>
    			<h6>For all inquiries and more info, reach out here.</h6>
    			<div class="inv-form-fields">
	    			<div class="name_fields_inv">
		    			<label style="padding: initial; text-align: left;">Name</label>
		    			<div class=" fields first_name_inv columns small-12 medium-12 large-6">
		    				<%= f.text_field :first_name, placeholder: 'First Name', required: true%>
		    			</div>
		    			<div class=" fields last_name_inv small-12 medium-12 large-6 end">
		    				<%= f.text_field :last_name, placeholder: 'Last Name', required: true%>
		    			</div>
		    		</div>

	    			<div class="fields email">
	    				<%= f.label :email%>
	    				<%= f.email_field :email, placeholder: 'yourname@email.com', required: true%>
	    			</div>

	    			<div>
	    				<%= f.submit 'Request Info', class: 'offer-link columns small-12 medium-12 large-10 large-offset-1'%>
	    			</div>
    			</div>
					<div id="success">
						<%= image_tag 'success.svg'%>
						<h2>Success!</h2>
		    		<p>Great! You'll hear from us soon.</p>
					</div>

    		</div>
    		
    		<% end %>
    		
    	</div>
    	
		</section>
		<hr>
		<section class="partners" id="inv-partners">
	  <h6>Local REIT Info</h6>
	  <div class="row expanded margin-addon">
	    <div class="small-12 medium-4 columns" style="margin-top: 15px;">
	      <a href="http://business.financialpost.com/news/fp-street/taking-reits-on-the-road-a-great-canadian-story-says-one-analyst"><%= image_tag('financial_post', class: 'partner-img worldh', style: 'margin-left: 15px; max-width: 50%!important;')%></a>
	    </div>
	    <div class="small-12 medium-4 columns">
	        <a href="https://ca.finance.yahoo.com/news/income-investors-reit-paid-256-174342000.html"> <%= image_tag('yahoo', class: 'partner-img sutton', style: 'max-width: 53%!important;')%></a>

	    </div>
	    <div class="small-12 medium-4 end columns">
	         <a href="http://www.theglobeandmail.com/globe-investor/investment-ideas/gi-newsletter/article33755063/"><%= image_tag('globeandmaillogo', class: 'partner-img cibc', style: 'margin-top: 8px')%></a>
	    </div>
	  </div>
</section>

	<script type="text/javascript">
		scrollIt();

		function hide_invest_form(){
			$('.invest-f').submit(function(e) {
				e.preventDefault();
				$('.inv-form-fields').fadeOut(200, function(){
					$('#success').fadeIn();
				})
			})
		}
		hide_invest_form()
	</script>
