<%= form_for @property, url: {action: 'listings_update'}, html: {class: "dashboard-form clearfix", id: "property-form", multipart: true} do |f| %>
  <div class="float-left">
    <a href="<%= agent_listings_path %>?page=<%= request.parameters[:from].nil? ? '1' : request.parameters[:from] %>&filter=<%= request.parameters[:filter].nil? ? 'all' : request.parameters[:filter] %>" class="btn btn-secondary">Back</a>
  </div>
  <div class="float-right">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
  <br>
  <br>
  <div class="row expanded">
    <h3>Edit address information: </h3>
    <%= f.fields_for :address do |fa| %>

      <%#= fa.label :latitude, 'Latitude'%>
      <%#= fa.text_field :latitude%>

      <%#= fa.label :longitude, 'longitude'%>
      <%#= fa.text_field :longitude%>
  
      <% @address_attributes.each_with_index do |a, i| %>
      <% if !(a == 'street')%>
      <% if i <= (@address_attributes.length/2)%>
        <div class="columns small-12 medium-6">
        <% if a == 'address_first'%>
          <%= fa.label a, 'Street Address 1' %>
          <%= fa.text_field a.to_sym %>

        <% elsif a == 'address_second'%>
          <%= fa.label a, "Street Address 2 (Suite/Apt #)" %>
          <%= fa.text_field a.to_sym %>

        <% else %>
          <%= fa.label a %>
          <%= fa.text_field a.to_sym %>
       
        <% end %>
       </div>
      <% else %>
        <div class="columns small-12 medium-6">
        <%= fa.label a%>
        <%= fa.text_field a.to_sym%>
        </div>
      <% end %>

      <% end %>
    <% end %>
    <% end %>
   
    <hr>
   <h3>Edit property information: </h3>
      <% aryprops = ['agent_id', 'status_id', 'sold', 'pictures', 'featured_photo', 'seller_info', 'pid', 'sellers_interest', 'architecture_style','note', 'upgrade_cost' ]%>
     
      <% @property_attributes.each_with_index do |u, i| %>
        <% if !(aryprops.map {|prop_attr| u == prop_attr}.any?) %>
          <% if (i.between?(0, (@property_attributes.length/2))) %>

            <div class="columns small-12 medium-6">
             <% if u.include? "building_type"%>
               <%= f.label u%>
               <!-- downcase -froze string issue -->
               <%= f.select(u.to_sym, options_for_select([' Penthouse', ' 1 Storey','1 Storey w/ Basement', ' 2 Storey','2 Storey w/ Basement' ,' 3 Storey','3 Storey w/ Basement', 'Corner Unit'])) %>

             <% elsif u.include? "property_type"%>
               <%= f.label u %>
               <%= f.select(u.to_sym, options_for_select(['Residential Attached', 'Residential Detached'])) %>

             <% elsif u.include? 'title_to_land'%>
              <%= f.label u %>
              <%= f.select(u.to_sym, options_for_select(['Freehold NonStrata', 'Freehold Strata']))%>

             <% elsif u.include? "list_price_cents"%>
             <%= f.label u, 'Listing price'%>
             <div class="input-group">
               <span class="input-group-label">$</span>
                <%= f.text_field u.to_sym, value: @price, class: 'input-group-field'%>
                <span class="input-group-label">.00</span>
                
             </div>
             <% elsif u.include? "dwelling_class"%>
              <%= f.label u%>
              <%= f.select(u.to_sym, options_for_select(['House/Single Family', 'House/Multi-Family', 'Apartment', 'Townhouse'])) %>
             <% else %>
               <%= f.label u %>
               <%= f.text_field u.to_sym %>
             <% end %>
            </div>  


          <% else %>

             <% if u.include? "description"%>
             <div class="columns small-12 medium-12">
               <%= f.label u%>
               <!-- downcase -froze string issue -->
               <%= f.text_area u.to_sym, rows: 6%>
             </div> 
             <% elsif u.include? "matterurl"%>
             <div class="columns small-12 medium-12">
              <%= f.label u, 'Matter Port' %>
              <%= f.text_field u.to_sym %>
             </div>
              <% elsif u.include? "property_type"%>
              <div class="columns small-12 medium-6">
              <%= f.label u%>
              <%= f.select(u.to_sym, options_for_select(['Residential Attached', 'Residential Detached'])) %>

             <% elsif u.include? "building_type"%>
             <div class="columns small-12 medium-6">
              <%= f.label u %>
              <%= f.select(u.to_sym, options_for_select([' Penthouse', ' 1 Storey', ' 2 Storey', ' 3 Storey', 'Corner Unit'])) %>
             </div>
             <% elsif u.include? "list_price_cents"%>
             <div class="columns small-12 medium-6 input-group">
                <%= f.label u, 'Listing price' %>
               <span class="input-group-label">$</span>
                <%= f.text_field u.to_sym, class: 'input-group-field'%>
             </div>
             <% else %>
             <div class="columns small-12 medium-6">
               <%= f.label u %>
               <%= f.text_field u.to_sym %>
             </div>   
            <% end %>
          


          <% end %>
        <% end %>
      <% end %>
      <hr>

      <h3>Upload more photos: <h3>
      <br>
      <%= form_for :photo, url: agent_property_path, html: {id: "add_photos_form", style: "display: none"}, authenticity_token: true, data: {remote: true, type: "script"} do |f|%>
        <%= f.file_field :picture, multiple: true, name: "photos[picture][]"%>
        <%= f.submit 'Submit', class: "button small secondary"%>
      <% end %>
      <hr />
      <% if @photos.count > 0 && @photos%>
      <p>Below you have the option to set the primary photo to showcase the listing as well as to delete a specific photo by clicking on either the star or the trash can respectively.</p>
      <div id="edit_photos_section">
        <%= render 'agents/edit_photos_propagent'%>
      </div>
      <% else %>
      <h3>Photos: </h3>
      <p style="text-align: center">No photos uploaded yet.</p>
      <% end %>
      
  </div>

  
  <div class="float-left">
    <a href="<%= agent_listings_path %>?page=<%= request.parameters[:from].nil? ? '1' : request.parameters[:from] %>&filter=<%= request.parameters[:filter].nil? ? 'all' : request.parameters[:filter] %>" class="btn btn-secondary">Back</a>
  </div>
  <div class="float-right" style="display: none">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
<%end%>
<br>
<br>
