<div  class="push-footer row expanded" style="margin-top: 70px;">
	<%= render :partial => 'dashboard/side_panel' %>

	<div class="medium-9 columns dashboard-content" id="agent-listings-dash" style="margin-top: 0.5em">
	    <h2>Your Listings </h2>
	    <hr>
	  	
	  	<!-- <p class="atention">Some of your listings may not be live yet.</p> -->
	  	<p style="margin-top: 10px; font-weight: 300;">Some of your listings may not be live yet. Check your listing's status to learn more: </p>
	  	<!-- <p>Please choose which properties you'd like to list on OpenReal: </p> -->
	  	<h5></h5>

	  	<p><small><color style="color: orange">Pending Approval</color>: OpenReal is reviewing your listing.</small></p>
	  	<p><small><color style="color: #68c0ea">Live</color>: Your listing has been approved and is now live.</small></p>
	  	<p><small><color style="color: grey">Unapproved</color>: Check the listing's comments for improvements so your listing can get approved.</small></p>
	  	<br>

	    
	    <div class="dashboard-list">

	    	<div class="dashboard-list-header row collapse">

	    		<div class="small-8 columns">
	    			<!-- <button class="button hide-for-small-only" id="get-props-btn"> Refresh Properties</button> -->
	    			<!-- <button class="button small show-for-small-only" id="get-props-btn">Refresh Properties</button> -->
	    		</div>

	    		<form class="small-4 columns" method="get">
	    			<select name="filter" onChange="submit();">
	    				<option style="color:blue;" value="all" <%= "selected" if request.parameters[:filter] == "all" %>>Show All</option>
	    				<option style="color:blue;" value="Pending Approval" <%= 'selected' if request.parameters[:filter] == 'Pending Approval'%>>Pending Approval</option>
	    				<option style="color:blue;" value="Unapproved" <%= "selected" if request.parameters[:filter] == "Unapproved" %>>Unapproved</option>
	    			
	    				<!-- <option style="color:blue;" value="all">Unsubmitted</option> -->
	    				<option style="color:blue;" value="Approved" <%= "selected" if request.parameters[:filter] == "Approved" %>>Live</option>
	    			</select>
	    		</form>
	    	</div> <!-- end of dashboard header --> 


	    	<% if @properties.count > 0%>
	    	<ul class="dashboard-list-body" id="agent-properties">
	    	<div class="loader"><div class="spinner"></div></div>
				<% @properties.each do |p|%>
				<li class="dashboard-list-item row collapse">

					<div class="small-1 columns dashboard-listing-img">
						<a href="<%= agent_listing_show_path(p.id)%>">
							<% if p.photos.count == 0 && p.featured_photo.blank?%>
							<img src="http://placehold.it/350x150?text=SET+PHOTO">
							<% elsif p.photos.count > 0 && p.featured_photo.blank? %>
							<img src="http://placehold.it/250x100?text=SET+PHOTO">
							<% else %>
							<img src="<%= p.featured_photo %>">
							<% end %>
						</a>
					</div>

					<div class="small-6 columns end">
						<div class="dashboard-listing-overview float-left">
							<h3>
								<% if p.address%>
									<%= link_to p.address_name, agent_listing_show_path(p.id)%>
								<% else %>
								No associated address. (<%= p.created_at%>)
								<% end %>
							</h3>
							<div>
								<%= link_to 'Edit', agent_listing_edit_path(p.id)%> | <%= link_to 'Delete', agent_listing_path(p.id), data: {confirm: 'Are you sure?'}, method: :delete %>
							</div>
						</div>
					</div>

					<div class="small-4 columns" id="status-prop-agents">
						<% if p.status_id === 9%>
							<p>Status:  <span class="pending">Pending Approval</span></p>
						<% elsif p.status_id == 5%>
							<p>Status:  <span class="live">Live</span></p>
						<% elsif p.status_id == 4%>
							<p>Status: <span class="unapproved"> Unapproved</span></p>
						<% end %>
					</div>
				</li>
				<% end %>

				<% else %>
				<div style="margin: 20px; text-align: center;">
					<p>No listings available.</p>
	    	</div>

	    	</ul>
	    <% end %>
	    </div>

 		<%= will_paginate @properties_paged, {class: "pagination text-center", previous_label: "◀", next_label: "▶"} %>
	</div>
</div>

<script type="text/javascript">
function loadProperties(){
$('.loader').hide();
$('#get-props-btn').click( function(){
		$('.loader').show();

		setTimeout(function(){
			$('#agent-properties').html("<%= escape_javascript render(partial: 'agents/agent_listings') %>")
		}, 200)
		$('.loader').fadeOut(); 
		
	});
}
loadProperties();
</script>