<div class="row expanded">

  <%= render "dashboard/side_panel" %>

  <div class="medium-9 columns dashboard-content push-footer">
    <h1>
      Agent Forms
    </h1>
    <hr>

    <div class= "row dashboard-aform" id="agent-columns">
      <div class="small-4 medium-3 columns titles">
        <p>Name</p>
      </div>
      <div class="small-4 medium-3 columns titles">
        <p>Email</p>
      </div>
      <div class="small-4 medium-3 medium columns end titles">
        <p>Company</p>
      </div>
      <!-- <div class="small-0 medium-4 columns actions"></div> -->
    </div>

    <div class="row dashboard-aform" id="agent-contents">
      <% @all_agents.each do |u| %>
      <div class="small-4 medium-3 columns details">
        <p><%= u.full_name%></p>
      </div>
      <div class="small-4 medium-3 columns details">
        <p><%= u.email%></p>
      </div>
      <div class="small-4 medium-3 columns details">
        <p><%= u.company_name%></p>
      </div>
      <div class="row">
        <span class="small-12 medium-3 medium-offset-9 columns c">
          <% if u.is_a? AgentForm%>
          <%= link_to "Edit", edit_dashboard_agent_form_path(u) %>
           |
          <%= link_to "Delete", dashboard_agent_form_path(u), method: :delete %>

          <% elsif u.is_a? Agent%>
          <p><small><%= u.created_at.strftime('%m/%d/%Y') %> <%= u.created_at.in_time_zone('Pacific Time (US & Canada)').strftime("at %I:%M%p")%></small></p>
          <% end %>
        </span>
      </div>
      <hr>
      <% end %>
    </div>

  </div>
</div>
