<h1>New Wishlist for <%= @customer.full_name %></h1>
<%= form_for [@customer, @wishlist] do |fw| %>
  <div>
    <%= fw.label :title %>
    <%= fw.text_field :title %>
  </div>
  <div>
    <%= fw.submit %>
  </div>
<% end %>
