<nav id="navbar">
  <div class="top-bar">
    <div class="float-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text"><a id="logo" href=<%= root_path %>><img src=<%= asset_path('logo.png') %>></a></li>
      </ul>
    </div>
    <div class="float-right">
      <ul class="dropdown menu nav-menu" data-dropdown-menu data-disable-hover="true" data-click-open="true">
        <li>
          <a href=<%= new_property_path %> class=<%= "active" if controller.controller_name == 'properties' && ['new', 'create'].include?(controller.action_name) %>>Sell</a>
        </li>
        <li class="show-for-medium">
          <a href=<%= agents_path%> class=<%"active" if controller.controller_name == 'welcome' && controller.action_name == 'agents'%>>Agents</a>
        </li>

        <li class="show-for-medium">
          <a href=<%= pricing_path%> class=<%= "active" if controller.controller_name == 'welcome' && controller.action_name == 'pricing' %>>Pricing</a>  
        </li>

        <li class="show-for-medium">
          <a href=<%= howitworks_path %> class=<%= "active" if controller.controller_name == 'welcome' && controller.action_name == 'howitworks' %>>How it works</a>
        </li>
        <li class="show-for-medium">
          <a href=<%= faq_path %> class=<%= "active" if controller.controller_name == 'welcome' && controller.action_name == 'faq' %>>FAQ</a>
        </li>
        <li class="show-for-medium">
          <a href=<%= contact_path %> class=<%= "active" if controller.controller_name == 'welcome' && controller.action_name == 'contact' %>> Contact</a>
        </li>
        <% if admin_signed_in?%>
        <li class="show-for-medium">
          <%= link_to('Logout', destroy_admin_session_path, :method => :delete) %>   
        </li>
        <%end%>
        
        <li class="show-for-small-only"><!--
          --><a href="">More</a>
          <ul id="nav-dropdown">
           <li>
              <a href=<%= agents_path%> class=<%"active" if controller.controller_name == 'welcome' && controller.action_name == 'agents'%>>Agents</a>
            </li>
            <li><a href=<%= howitworks_path %> class=<%= "active" if controller.controller_name == 'welcome' && controller.action_name == 'howitworks' %>>How it works</a></li>
            <li><a href=<%= faq_path %> class=<%= "active" if controller.controller_name == 'welcome' && controller.action_name == 'faq' %>>FAQ</a></li>

            <li><a href=<%= contact_path %> class=<%= "active" if controller.controller_name == 'welcome' && controller.action_name == 'contact' %>>Contact</a></li>

            <li><a href=<%= pricing_path%> class=<%= "active" if controller.controller_name == 'welcome' && controller.action_name == 'pricing' %>>Pricing</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
