<% arypages = [howitworks_path, contact_us_path, faq_path, terms_path, contact_path, agents_path, root_path]%>
<% if request.path == '/properties/new' %>
	<nav id="navbar">
<% elsif current_page?('/listings')%>	
	<nav id="navbar">
<% else %>
	<nav id="navbar" style="position: fixed; width: 100%;">
<% end %>
  <div class="top-bar">
    <div class="float-left" style="display: inline-block;">
        <ul class="dropdown menu horizontal" data-dropdown-menu>
          <li class="menu-text"><a id="logo" href=<%= root_path %>><img src=<%= asset_path('logo.png') %>></a></li>
      </div>
      <div class="addressinputtwo hide-for-small-only">
        <% if arypages.map {|p| current_page?(p)}.any? %>
          <% if !(current_page?('/'))%>
             <%= form_tag (properties_sell_path), id: "addressForm" do %>
              <input type="text" id="addressInputTwo" placeholder="Enter your home address" name="addressInput" autofocus>
              <input type="hidden" name="addressFirst" id="addressFirst">
              <input type="hidden" name="addressSecond" id="addressSecond">
              <input type="hidden" name="addressCity" id="addressCity">
              <input type="hidden" name="addressPostal" id="addressPostal">
              <input type="hidden" name="addressLat" id="addressLat">
              <input type="hidden" name="addressLng" id="addressLng">
              <input type="submit" class="hide" id="addressTwoSubmit">
            <% end %>
          <% else %>
            <input type="text" id="addressInputTwo" placeholder="Enter your home address" name="addressInput" autofocus>
            <input type="hidden" name="addressFirst" id="addressFirst">
            <input type="hidden" name="addressSecond" id="addressSecond">
            <input type="hidden" name="addressCity" id="addressCity">
            <input type="hidden" name="addressPostal" id="addressPostal">
            <input type="hidden" name="addressLat" id="addressLat">
            <input type="hidden" name="addressLng" id="addressLng">
            <input type="submit" class="hide" id="addressTwoSubmit">
          <% end %>
        <% end %>
            
        </ul>
      </div>

      <div class="float-right">
        <ul class="dropdown menu nav-menu" data-dropdown-menu data-disable-hover="true" data-click-open="true">


<!-- show for large -->
          <li>
            <a href=<%= new_property_path %> class=<%= "active" if (controller.controller_name == 'properties' && ['new', 'create'].include?(controller.action_name)) || (controller.controller_name == 'welcome' && ['index'].include?(controller.action_name)) %>>Sell</a>
          </li>
          <li class="show-for-medium">
            <a href=<%= howitworks_path %> class=<%= "active" if controller.controller_name == 'welcome' && controller.action_name == 'howitworks' %>>How it works</a>
          </li>
          <li class="show-for-large">
            <a href="/listings" class=<%= "active" if controller.controller_name == 'properties' && controller.action_name == 'index' || controller.action_name == 'show' %>>Listings</a>
          </li>

          <div class="dropdown menu show-for-large" data-dropdown-menu id="agent-dropdown">
            <li>
              <a href="#">For Agents</a>
              <ul class="menu">
              <% if !(agent_signed_in?)%>
                <li>
                  <a href=<%=agents_path%> class=<%= "active" if controller.controller_name == 'welcome' && controller.action_name == 'agents'%>>Information</a>
                </li>
              <% end %>

                <% if agent_signed_in?%>
                <li>
                  <a href="<%= agent_dashboard_path%>" class=<%= "active" if controller.controller_name == 'registrations' && controller.action_name == 'dashboard'%>>My Account</a>
                </li>
                <li>
                  <%= link_to 'Logout', destroy_agent_session_path, :method => :delete %>
                </li>
                <% else %>
                <li>
                  <%= link_to 'Agent Sign in', new_agent_session_path%>  
                </li>
                <% end%>
              </ul>
            </li>

            
          </div>

        <!--   <li class="show-for-large">
            <a href=<%= faq_path %> class=<%= "active" if controller.controller_name == 'welcome' && controller.action_name == 'faq' %>>FAQ</a>
          </li> -->
          <li class="show-for-large">
            <a href=<%= contact_path %> class=<%= "active" if controller.controller_name == 'welcome' && controller.action_name == 'contact' %>> Contact</a>
          </li>


<!-- show for medium -->
        <li class="show-for-medium-only">
          <a href="#">More</a>
          <ul id="nav-dropdown" style="left: -128px;">
             <li><a href="/listings"class=<%= "active" if controller.controller_name == 'properties' && controller.action_name == 'index' %>>Listings</a></li>
            <li><a href=<%= contact_path %> class=<%= "active" if controller.controller_name == 'welcome' && controller.action_name == 'contact' %>>Contact</a></li>

            <hr>

             <% if agent_signed_in? && (current_page?('/agent/dashboard') || current_page?('/agent/listing') || current_page?('/agents/dashboard/edit') || current_page?('/agents/listing/:id') || current_page?('/agents/listing/:id/edit'))%>
              <li>
                <a href=<%= agents_path%> class=<%"active" if controller.controller_name == 'welcome' && controller.action_name == 'agents'%>>For Agents</a>
              </li>
              <li>
                <%= link_to 'Logout', destroy_agent_session_path, :method => :delete %>
              </li>

            <% elsif agent_signed_in? && (!current_page?('/agent/dashboard') || !current_page?('/agent/listing') || !current_page?('/agents/dashboard/edit') || !current_page?('/agents/listing/:id') || !current_page?('/agents/listing/:id/edit'))  %>
              <li>
                <a href="<%= agent_dashboard_path%>" class=<%= "active" if controller.controller_name == 'registrations' && controller.action_name == 'dashboard'%>>My Account</a>
              </li>
              <li>
                <%= link_to 'Logout', destroy_agent_session_path, :method => :delete %>
              </li>

            <% else%>
              <li>
                <a href=<%= agents_path%> class=<%"active" if controller.controller_name == 'welcome' && controller.action_name == 'agents'%>>For Agents</a>
              </li>
              <li>
                <%= link_to 'Agent Sign in', new_agent_session_path%>  
              </li>
            <% end %>
              
              <!-- <li><a href=<%= faq_path %> class=<%= "active" if controller.controller_name == 'welcome' && controller.action_name == 'faq' %>>FAQ</a></li> -->
          </ul>
        </li>

          <% if admin_signed_in?%>
          <li class="show-for-medium">
            <%= link_to('Logout', destroy_admin_session_path, :method => :delete) %>   
          </li>
          <%end%>

<!-- Show for small only -->
        <li class="show-for-small-only">
          <a href="#">More</a>
            <ul id="nav-dropdown">
              <li><a href=<%= howitworks_path %> class=<%= "active" if controller.controller_name == 'welcome' && controller.action_name == 'howitworks' %>>How it works</a></li>
              <li><a href="/listings" class=<%= "active" if controller.controller_name == 'properties' && controller.action_name == 'index' %>>Listings</a></li>
               <li><a href=<%= contact_path %> class=<%= "active" if controller.controller_name == 'welcome' && controller.action_name == 'contact' %>>Contact</a></li>
               <hr>
            <% if agent_signed_in? && (current_page?('/agent/dashboard') || current_page?('/agent/listing') || current_page?('/agents/dashboard/edit') || current_page?('/agents/listing/:id') || current_page?('/agents/listing/:id/edit'))%>
              <li>
                <a href=<%= agents_path%> class=<%"active" if controller.controller_name == 'welcome' && controller.action_name == 'agents'%>>For Agents</a>
              </li>
              <li>
                <%= link_to 'Logout', destroy_agent_session_path, :method => :delete %>
              </li>

            <% elsif agent_signed_in? && (!current_page?('/agent/dashboard') || !current_page?('/agent/listing') || !current_page?('/agents/dashboard/edit') || !current_page?('/agents/listing/:id') || !current_page?('/agents/listing/:id/edit'))  %>
              <li>
                <a href="<%= agent_dashboard_path%>" class=<%= "active" if controller.controller_name == 'registrations' && controller.action_name == 'dashboard'%>>My Account</a>
              </li>
              <li>
                <%= link_to 'Logout', destroy_agent_session_path, :method => :delete %>
              </li>

            <% else%>
              <li>
                <a href=<%= agents_path%> class=<%"active" if controller.controller_name == 'welcome' && controller.action_name == 'agents'%>>For Agents</a>
              </li>
              <li>
                <%= link_to 'Agent Sign in', new_agent_session_path%>  
              </li>
            <% end %>
              
        <!--       <li><a href=<%= faq_path %> class=<%= "active" if controller.controller_name == 'welcome' && controller.action_name == 'faq' %>>FAQ</a></li> -->


            </ul>
          </li>
        </ul>
    </div>
  </div>
</nav>
