<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <title><%= content_for?(:title) ? yield(:title) : "OpenReal" %></title>
    <!-- TypeKit -->
    <script src="https://use.typekit.net/otn4kyo.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body class="<%= controller.controller_name %> <%= controller.action_name %>">
    <%= render 'layouts/navbar' %>
    <% flash.each do |name, msg| %>
      <div class="primary callout flash-<%=name%> text-center" data-closable>
        <h6><%=msg%></h6>
        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>

    <%= yield %>

    <%= render 'layouts/footer' unless get_namespace != 'dashboard' && controller.controller_name == 'properties' && controller.action_name == 'index' %>
  </body>
</html>
