<!DOCTYPE html>
<html lang="en">
  <head>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <title><%= content_for?(:title) ? "OpenReal | " + yield(:title) : "OpenReal" %></title>
    <!-- TypeKit -->
    <script src="https://use.typekit.net/aas8xpq.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <!-- <script src="https://use.typekit.net/otn4kyo.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script> -->
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="https://embed.modernapp.co/chat?code=492550a5867a28215bc9b63eb6eee323"></script>
  </head>

  <body class="<%= controller.controller_name %> <%= controller.action_name %>">
    <%= render 'layouts/navbar' %>
    <% flash.each do |name, msg| %>
      <div class="primary callout flash-<%=name%> text-center" data-closable>
        <h6><%=msg%></h6>
        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>

    <%= yield %>

    <%= render 'layouts/footer' unless get_namespace != 'dashboard' && controller.controller_name == 'properties' && controller.action_name == 'index' %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyti sObje t']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-85611108-1', 'auto');
        ga('send', 'pageview');

    </script>
    <% if get_namespace != "dashboard" && controller.controller_name == "properties" && controller.action_name == "index" %>
    <!-- google maps api -->
    <script src=<%="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1Q7t2vZAStT0Rg1ZmgELJBR7DzCLpKIU&callback=initMap"%>
      async defer></script>

   <% elsif (controller.controller_name == "properties" && controller.action_name == "show") %>
    <script src=<%="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1Q7t2vZAStT0Rg1ZmgELJBR7DzCLpKIU&callback=initMap"%>
      async defer></script>

    <% elsif (controller.controller_name == "welcome" && controller.action_name == "index")|| (controller.controller_name == "welcome" && controller.action_name == "howitworks") %>
      <script src=<%="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1Q7t2vZAStT0Rg1ZmgELJBR7DzCLpKIU&libraries=places&callback=autoComplete"%>
      async defer></script>

    <% elsif controller.controller_name == "properties" && (["new", "create"].include? controller.action_name) %>
      <script src=<%="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1Q7t2vZAStT0Rg1ZmgELJBR7DzCLpKIU&libraries=places&callback=autoCompleteSeller" %>
      async defer></script>
    <% end %>
  </body>
</html>
