<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "OpenReal" %></title>
    <!-- TypeKit -->
    <script src="https://use.typekit.net/otn4kyo.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body class="<%= controller.controller_name %> <%= controller.action_name %>">
    <%= render 'layouts/navbar' %>

    <%= yield %>

    <%= render 'layouts/footer' unless get_namespace != 'dashboard' && controller.controller_name == 'properties' && controller.action_name == 'index' %>
  </body>
  <% if controller.controller_name == "properties" && controller.action_name == "index" %>
  <!-- google maps api -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzu93Bw-ih-f9ZAToKerHN81ivZNYmtIw&callback=initMap"
    async defer></script>

  <% elsif (controller.controller_name == "welcome" && controller.action_name == "index") %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzu93Bw-ih-f9ZAToKerHN81ivZNYmtIw&libraries=places&callback=autoComplete"
    async defer></script>

  <% elsif controller.controller_name == "properties" && (["new", "create"].include? controller.action_name) %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzu93Bw-ih-f9ZAToKerHN81ivZNYmtIw&libraries=places&callback=autoCompleteSeller"
    async defer></script>
  <% end %>
</html>
